extends layout
block title
   | Каталог

block content
    .block.catalog
        .clearfix
            .filter
                form(method="get")
                    {{ csrf_tocken }}
                    {% for field in form %}
                    {% if field.auto_id == 'id_price_min' %}

                    <div class="max id_price_range min"><label>Цена</label><div class="inner">
                    {{ field.label_tag }} {{ field }}

                    {% elif field.auto_id == 'id_price_max' %}

                    {{ field.label_tag }} {{ field }}</div></div>

                    {% else %}

                    <div class="{{ field.auto_id }}">{{ field.label_tag }}<div class="inner">{{ field }}</div></div>

                    {% endif %}
                    {% endfor %}
                    input(type="submit",value="Фильтр")
            .content
                if category_name.0
                    h1.heading
                        span {{ category_name.0 }}
                else
                    h1.heading
                        span Каталог
                .list
                    include catalog-item
block js
    {{ block.super }}
    script $.endlessPaginate({paginateOnScroll: true});