{% load thumbnail %}
.block
    .content.item-page
        .heading
        .catalog-item.hproduct.clearfix(data-id="{{item.id}}",class="{% if item.is_graffiti%}graffiti{% else %}{% endif %}").not-inited
            .gallery
                {% for spec in item.specification_set.all %}
                .photos-color(data-color='{{spec.color.hex_code}}')
                    .photo-container.size-full
                        {% for image in spec.specificationimages_set.all %}
                        {% thumbnail image.image "460x460" as im %}
                        img(src="{{ im.url }}",alt="{{ item.name }} {{ item.brand }} {{ item.item_model }}",data-original="{{ image.image.url }}").photo
                        {% endthumbnail %}
                        {% endfor %}
                    {% if spec.specificationimages_set.count > 1 %}
                    .thumbnails
                        {% for image in spec.specificationimages_set.all %}
                        .thumb
                            .photo-container
                                {% thumbnail image.image "100x100" as im %}
                                img(src="{{ im.url }}",alt="{{ item.name }} {{ item.brand }} {{ item.item_model }}").photo
                                {% endthumbnail %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                .badges
                    if item.discount
                        .badge.sale #{item.discount}%
                    //- .badge.new новинка
                    //- .badge.action товар дня
            .information
                h2.title
                    span.category {{ item.name }}
                    &nbsp;
                    span.brand {{ item.brand }}
                    &nbsp;
                    span.fn {{ item.item_model }}
                .params
                    .row Торговая марка:
                        a.field(href='/catalog/{{ item.category.slug }}/?brand={{ item.brand }}')=item.brand
                    if item.is_graffiti
                        .row.sizes Объем:
                            {% for size in item.specification_set.all.0.size_list.all %}
                            {{ size }}
                            {% endfor %}
                        .row Количество: 1
                    else
                        .row Сезон: {{ item.season }}
                        .row Пол: {{ item.sex }}
                        .row.sizes Размер:
                            {% for spec in item.specification_set.all %}
                            select.size(data-color='{{spec.color.hex_code}}')
                                {% for size in spec.size_list.all %}
                                option=size
                                {% endfor %}
                            {% endfor %}
                        .row Количество:
                            select.amount
                                {% for i in "123456789" %}
                                option=i
                                {% endfor %}
                    .row Наличие: на складе
                    .row Купили:
                        span.value &nbsp;{{ item.sold_count }} человек
                    if item.is_graffiti
                        //- граффити добавляются по id товара
                        .color-chooser
                            .heading
                                span
                            .list
                                {% for spec in item.specification_set.all %}
                                .color(title='{{spec.paint_color}}',data-name='{{spec.paint_color}}',data-code='{{spec.paint_color.hex_code}}',data-spec="{{ spec.id }}",data-size='{{ spec.size_list.all|join:":" }}')
                                    .preview
                                        .bg(style='background-color:{{spec.paint_color.hex_code}}')=spec.paint_color.paint_number
                                        .name=spec.paint_color
                                    .selector
                                        .minus.calc -
                                        input(value="0").amount
                                        .plus.calc +
                                {% endfor %}
                            .graffiti-chooser
                                .choose-color.close-modal(data-target='color-chooser') подтвердить
                            .heading
                                span
                    else
                        //- товары добавляются по id спецификации
                        .colors
                            {% for spec in item.specification_set.all %}
                            .color(title="{{spec.color}}",data-code="{{spec.color.hex_code}}",data-spec="{{ spec.id }}")
                                span(style='background-color:{{spec.color.hex_code}}')
                            {% endfor %}
                if item.description
                    .description
                        {% autoescape off %}{{item.description}}{% endautoescape %}
                if item.is_graffiti
                    .row.graffiti-chooser
                        .choose-color выбрать цвет
                        .choosed-colors Вы выбрали:
                            span.total 0
                            | шт.
                        .choosed-colors-set
                        .choosed-cost
                            Стоимость:
                            .wrap
                                span.cost-total 0
                                span.rub Р
                .prices
                    if item.old_price
                        span.old-price
                            span=item.old_price
                            span.rub Р
                    span.price
                        span.cost=item.price
                        span.rub Р
                span.cart-add добавить в корзину
                span.warn.w-choose-color выберите цвет
    if rec_item_list
        .recomendation.content
            .heading
                span
                    Рекомендуем
            .catalog-carousel.clearfix
                for good in rec_item_list
                    include catalog-item-carusel