{% load endless %}

{% paginate 12 catalog %}
{% for good in catalog %}
.catalog-item.hproduct(data-id='{{good.id}}').mini.not-inited
    a(href="{% url 'catalog_detail' good.category.slug good.item_model_slug %}").url
        .photo-container
            {% load thumbnail %}
            {% for spec in good.specification_set.all %}
            .photos-color(data-color='{{spec.color.hex_code}}')
                {% for image in spec.specificationimages_set.all %}
                {% thumbnail image.image "170x170" as im %}
                img(src="{{ im.url }}",alt="{{ good.name }} {{ good.brand }} {{ good.item_model }}").photo
                {% endthumbnail %}
                {% endfor %}
            {% endfor %}
            .quick-view быстрый просмотр
        h3.title
            span.category=good.name
            &nbsp;
            span.brand=good.brand
            &nbsp;
            span.fn=good.item_model
        .badges
            if good.discount
                .badge.sale #{good.discount}%
            //- .badge.new новинка
            //- .badge.action товар дня
        .prices
            if good.old_price
                span.old-price
                    span=good.old_price
                    span.rub Р
            span.price
                span.cost=good.price
                span.rub Р
        if good.is_graffiti
            .graffiti
        else
            .colors
                {% for spec in good.specification_set.all %}
                .color(title="{{spec.color}}",data-code='{{spec.color.hex_code}}')
                    span(style='background-color:{{spec.color.hex_code}}')
                {% endfor %}
{% endfor %}
{% show_more "Показать еще" %}