extends 'layout.jade'
block title
    =review.title

block content
    .block
        .content.review-detail
            h1=review.title
            .tags
                {% for tag in review.tags.all %}
                a(href="{% url 'reviews_list' %}?tag={{ tag.slug }}").tag=tag.name
                {% endfor %}
            .date=review.date
            .text
                {% autoescape off %}
                {{ review.content }}
                {% endautoescape %}