extends 'layout.jade'
{% load thumbnail %}
block title
    Обзоры
block content
    .block
        .content
            h1.heading
                span Обзоры
            .reviews
                .list
                    {% for review in reviews %}
                    .review
                        .inner
                            .icon
                                a(href="{% url 'review_detail' review.slug %}").wrap
                                    {% thumbnail review.image "90x90" crop="center" as im %}
                                    img(src="{{ im.url }}",alt=review.title).photo
                                    {% endthumbnail %}
                            .data
                                a(href="{% url 'review_detail' review.slug %}").name
                                    .date=review.date
                                    h2.name=review.title
                                .info
                                    .text=review.preview
                                    a(href="{% url 'review_detail' review.slug %}").goto &rarr;
                                .tags
                                    {% for tag in review.tags.all %}
                                    a(href="{% url 'reviews_list' %}?tag={{ tag.slug }}").tag=tag.name
                                    {% endfor %}
                    {% empty %}
                    p.nothing Обзоров не найдено
                    {% endfor %}