{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <style type="text/css">
        .inner {
            margin-left: 27px;
        }
    </style>
        <ul>
            <li>
                <a href="/admin/reviews/review/">Обзоры</a>
            </li>
            <li>
                <a href="/admin/flatpages/flatpage/5/">Доставка</a>
            </li>
            <li>
                <a href="/admin/flatpages/flatpage/3/">Оплата</a>
            </li>
            <li>
                <a href="/admin/flatpages/flatpage/4/">Гарантия</a>
            </li>
            <li>
                <a href="/admin/faq/faq/">Вопрос-ответ</a>
            </li>
            <li>
                <a href="/admin/flatpages/flatpage/1/">Акции</a>
            </li>
            <h3 style="font-weight: normal;">Контакты</h3>
                <li class="inner">
                    <a href="/admin/contacts/contactsmap/">Как нас найти(Карта)</a>
                </li>
                <li class="inner">
                    <a href="/admin/contacts/contactsteam/">Наша команда</a>
                </li>
                <li class="inner">
                    <a href="/admin/contacts/contacts/">Контакты, режим работы</a>
                </li>
            <li>
                <a href="/admin/news/news/">Новости</a>
            </li>
            <li>
                <a href="/admin/comments/comment/">Отзывы покупателей</a>
            </li>
            <li>
                <a href="/admin/slidertext/slidertext/">Слайдер</a>
            </li>
            <li>
                <a href="/admin/maintext/maintext/">Текст на главной</a>
            </li>
        </ul>
{% endblock %}