{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
    <style type="text/css">
        .inner {
            margin-left: 27px;
        }
    </style>
        <ul>
            <li>
                <a href="/admin/items/item/">Товар</a>
            </li>
        </ul>
{% endblock %}