{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
        <ul>
            <a href="/admin/orders/orders/?status__status_name=%D0%9D%D0%BE%D0%B2%D1%8B%D0%B9"><h3 style="font-weight: normal;">Новых заказов: <b>{{ module.children.0.new_orders }}</b></h3></a>
            <a href="/admin/orders/orders/?status__status_name=%D0%92+%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B5"><h3 style="font-weight: normal;">Заказов в работе: <b>{{ module.children.1.inwork_orders }}</b></h3></a>
            <a href="/admin/orders/orders/?status__status_name=%D0%92%D1%8B%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5"><h3 style="font-weight: normal;">Выполненные заказы: <b>{{ module.children.2.finished_orders }}</b></h3></a>
            {% for child in module.children %}
            {% spaceless %}
            <li>
                {% if child.change_url %}<a href="{{ child.change_url }}">{{ child.title }}</a>{% else %}{{ child.title }}{% endif %}
                {% if child.add_url or child.change_url %}
                <ul>
                    {% if child.add_url %}<li><a class="addlink" href="{{ child.add_url }}"><span class="icon">{% trans "Add" %}</span></a></li>{% endif %}
                    {% if child.change_url %}<li><a class="changelink" href="{{ child.change_url }}"><span class="icon">{% trans "Change" %}</span></a></li>{% endif %}
                </ul>
                {% endif %}
            </li>
            {% endspaceless %}
            {% endfor %}
        </ul>
{% endblock %}
