{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
        <ul>
            <li>
                <a href="{% url 'upload_parser_file' %}">CSV Выгрузка</a>
            </li>
        </ul>
{% endblock %}
