{% extends 'layout.jade' %}

{% block title %}
ЧАВО
{% endblock %}

{% block content %}
<div class="block">
    <div class="content">
        <h2 class="heading"><span>Вопрос/Ответ</span></h2>
        {% for item in faq_list %}
            <p>Вопрос от: {{ item.username }} | Дата: {{ item.date }}</p>
            <p>Вопрос - {{item.question}}</p>
            <p style="padding-left: 20px;">Ответ - {{item.answer}}</p>
        {% empty %}
            <p>Вопросов не найдено</p>
        {% endfor %}
    </div>
    <div class="content">
        <form method="POST" class="form-set form-faq">{% csrf_token %}
            <table class="table">
                {{ form.errors }}
                {{form}}
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>
</div>
{% endblock %}