if breadcrumbs
    ol.breadcrumbs.block.clearfix
        each crumb in breadcrumbs
            {% if crumb.title != '' %}
            li.link
                a(href="{{crumb.url}}")=crumb.title
            {% endif %}
else
    ol.breadcrumbs.block.clearfix.low
        li.link.invisible
            a(href="/") &nbsp;