.block.categories-list.block-white
    .inner
        .men.section
            .ico
            .categories
                h4.title Мужчины
                    span.i
                ul.list
                    li
                        a(href="/") Сноубординг
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'mans_snowboards' %}") Сноуборды
                            li.sub-category__elem
                                a(href="{% url 'mans_bindings' %}") Крепления
                            li.sub-category__elem
                                a(href="{% url 'mans_boots' %}") Ботинки
                            li.sub-category__elem
                                a(href="{% url 'boardcovers' %}") Чехлы для сноуборда
                            li.sub-category__elem
                                a(href="{% url 'mans_ski_jackets' %}") Куртки г/л
                            li.sub-category__elem
                                a(href="{% url 'mans_boardpants' %}") Штаны г/л
                            li.sub-category__elem
                                a(href="{% url 'mans_thermal' %}") Термуха и носки
                            li.sub-category__elem
                                a(href="{% url 'mans_sweatshirt' %}") Термотолстовки
                            li.sub-category__elem
                                a(href="{% url 'mans_boardprotection' %}") Защита
                            li.sub-category__elem
                                a(href="{% url 'mans_boardhelmets' %}") Шлемы
                            li.sub-category__elem
                                a(href="{% url 'mans_masks' %}") Маски
                            li.sub-category__elem
                                a(href="{% url 'mans_gloves' %}") Варежки, перчатки
                            li.sub-category__elem
                                a(href="{% url 'mans_balaklavs' %}") Балаклавы
                            li.sub-category__elem
                                a(href="{% url 'mans_boardgears' %}") Запчасти для сноуборда
                    li
                        a(href="/") Скейтбординг
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'longboards' %}") Лонгборды
                            li.sub-category__elem
                                a(href="{% url 'skateboards' %}") Скейты в сборе
                            li.sub-category__elem
                                a(href="{% url 'skatecovers' %}") Чехлы
                            li.sub-category__elem
                                a(href="{% url 'skatedecs' %}") Деки
                            li.sub-category__elem
                                a(href="{% url 'longgloves' %}") Лонговые перчатки
                            li.sub-category__elem
                                a(href="{% url 'skatehelmets' %}") Шлемы
                            li.sub-category__elem
                                a(href="{% url 'skategears' %}") Запчасти скейт/лонг
                    li
                        a(href="/") Одежда
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'mans_jackets' %}") Куртки
                            li.sub-category__elem
                                a(href="{% url 'mans_jeans' %}") Джинсы, штаны
                            li.sub-category__elem
                                a(href="{% url 'mans_hoodies' %}") Толстовки, худи
                            li.sub-category__elem
                                a(href="{% url 'mans_tshorts' %}") Футболки, майки
                            li.sub-category__elem
                                a(href="{% url 'mans_shorts' %}") Шорты
                            li.sub-category__elem
                                a(href="{% url 'mans_swimsuit' %}") Купальные шорты
                            li.sub-category__elem
                                a(href="{% url 'mans_briefs' %}") Трусы
                            li.sub-category__elem
                                a(href="{% url 'soxs' %}") Носки
                            li.sub-category__elem
                                a(href="{% url 'caps' %}") Кепки
                            li.sub-category__elem
                                a(href="{% url 'mans_hats' %}") Шапки, шарфы
                            li.sub-category__elem
                                a(href="{% url 'mans_shoes' %}") Кеды
                    li
                        a(href="/") Аксессуары
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'headphones' %}") Наушники
                            li.sub-category__elem
                                a(href="{% url 'purses' %}") Кошельки
                            li.sub-category__elem
                                a(href="{% url 'belts' %}") Ремни
                            li.sub-category__elem
                                a(href="{% url 'chakbadizs' %}") Чакбадиз
                            li.sub-category__elem
                                a(href="{% url 'fingerboards' %}") Фингеры
                            li.sub-category__elem
                                a(href="{% url 'clocks' %}") Часы
                            li.sub-category__elem
                                a(href="{% url 'sunglasses' %}") Солнцезащитные очки
        .women.section
            .ico
            .categories
                h4.title Женщины
                    span.i
                ul.list
                    li
                        a(href="/") Сноубординг
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'women_snowboards' %}") Сноуборды
                            li.sub-category__elem
                                a(href="{% url 'women_bindings' %}") Крепления
                            li.sub-category__elem
                                a(href="{% url 'women_boots' %}") Ботинки
                            li.sub-category__elem
                                a(href="{% url 'boardcovers' %}") Чехлы для сноуборда (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'women_ski_jackets' %}") Куртки г/л
                            li.sub-category__elem
                                a(href="{% url 'women_boardpants' %}") Штаны г/л
                            li.sub-category__elem
                                a(href="{% url 'women_thermal' %}") Термуха и носки
                            li.sub-category__elem
                                a(href="{% url 'women_sweatshirt' %}") Термотолстовки
                            li.sub-category__elem
                                a(href="{% url 'women_boardprotection' %}") Защита
                            li.sub-category__elem
                                a(href="{% url 'women_boardhelmets' %}") Шлемы
                            li.sub-category__elem
                                a(href="{% url 'women_masks' %}") Маски
                            li.sub-category__elem
                                a(href="{% url 'women_gloves' %}") Варежки, перчатки
                            li.sub-category__elem
                                a(href="{% url 'women_balaklavs' %}") Балаклавы
                            li.sub-category__elem
                                a(href="{% url 'women_boardgears' %}") Запчасти для сноуборда
                    li
                        a(href="/") Скейтбординг
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'longboards' %}") Лонгборды (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skateboards' %}") Скейты в сборе (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skatecovers' %}") Чехлы (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skatedecs' %}") Деки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'longgloves' %}") Лонговые перчатки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skatehelmets' %}") Шлемы (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skategears' %}") Запчасти скейт/лонг (УНИСЕКС)
                    li
                        a(href="/") Одежда
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'women_jackets' %}") Куртки
                            li.sub-category__elem
                                a(href="{% url 'women_jeans' %}") Джинсы, штаны
                            li.sub-category__elem
                                a(href="{% url 'women_hoodies' %}") Толстовки, худи
                            li.sub-category__elem
                                a(href="{% url 'women_tshorts' %}") Футболки, майки
                            li.sub-category__elem
                                a(href="{% url 'women_shorts' %}") Шортики
                            li.sub-category__elem
                                a(href="{% url 'women_swimsuit' %}") Купальники
                            li.sub-category__elem
                                a(href="{% url 'soxs' %}") Носки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'caps' %}") Кепки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'women_hats' %}") Шапки, шарфы
                            li.sub-category__elem
                                a(href="{% url 'women_shoes' %}") Кеды
                    li
                        a(href="/") Аксессуары
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'headphones' %}") Наушники (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'purses' %}") Кошельки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'belts' %}") Ремни (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'chakbadizs' %}") Чакбадиз (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'fingerboards' %}") Фингеры (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'clocks' %}") Часы (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'sunglasses' %}") Солнезащитные очки (УНИСЕКС)
        .kids.section
            .ico
            .categories
                h4.title Дети
                    span.i
                ul.list
                    li
                        a(href="/") Сноубординг
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'kids_snowboards' %}") Сноуборды
                            li.sub-category__elem
                                a(href="{% url 'kids_bindings' %}") Крепления
                            li.sub-category__elem
                                a(href="{% url 'kids_boots' %}") Ботинки
                            li.sub-category__elem
                                a(href="{% url 'boardcovers' %}") Чехлы для сноуборда (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'kids_ski_jackets' %}") Куртки г/л
                            li.sub-category__elem
                                a(href="{% url 'kids_boardpants' %}") Штаны г/л
                            li.sub-category__elem
                                a(href="{% url 'kids_coveralls' %}") Комбинезоны г/л
                            li.sub-category__elem
                                a(href="{% url 'kids_thermal' %}") Термуха и носки
                            li.sub-category__elem
                                a(href="{% url 'kids_boardprotection' %}") Защита
                            li.sub-category__elem
                                a(href="{% url 'kids_gloves' %}") Варежки, перчатки
                            li.sub-category__elem
                                a(href="{% url 'kids_balaklavs' %}") Балаклавы
                    li
                        a(href="/") Скейтбординг
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'longboards' %}") Лонгборды (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skateboards' %}") Скейты в сборе (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skatecovers' %}") Чехлы (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'skatehelmets' %}") Шлемы (УНИСЕКС)
                    li
                        a(href="/") Одежда
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'kids_jackets' %}") Куртки
                            li.sub-category__elem
                                a(href="{% url 'kids_jeans' %}") Джинсы, штаны
                            li.sub-category__elem
                                a(href="{% url 'kids_hoodies' %}") Толстовки, худи
                            li.sub-category__elem
                                a(href="{% url 'kids_tshorts' %}") Футболки
                            li.sub-category__elem
                                a(href="{% url 'kids_swimsuit' %}") Купальники
                            li.sub-category__elem
                                a(href="{% url 'caps' %}") Кепки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'kids_hats' %}") Шапки
                    li
                        a(href="/") Аксессуары
                        ul.sub-category
                            li.sub-category__elem
                                a(href="{% url 'headphones' %}") Наушники (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'purses' %}") Кошельки (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'chakbadizs' %}") Чакбадиз (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'fingerboards' %}") Фингеры (УНИСЕКС)
                            li.sub-category__elem
                                a(href="{% url 'clocks' %}") Часы (УНИСЕКС)
        .graffiti.section
            .ico
            .categories
                h4.title Graffiti shop
                    span.i
                ul.list
                    li
                        a(href="{% url 'graffiti_paint' %}") Краска
                    li
                        a(href="{% url 'graffiti_markers' %}") Маркеры
                    li
                        a(href="{% url 'graffiti_refill' %}") Заправка
                    li
                        a(href="{% url 'graffiti_accessories' %}") Аксессуары
            .all-categories
                a.all(href="{% url 'catalog_all' %}") Перейти ко всем разделам &rarr;