{% load thumbnail %}
.footer.block
    .menus.clearfix
        .contacts
            h3 Контакты
            ul.vcard
                li &copy;&nbsp;
                    span.fn.org Интернет-магазин "REVERT"
                li Заходите на чай:&nbsp;
                    span.adr
                        span.street-address.white ТРЦ «Фаворит», ул. В. Гнаровской, 12/1
                li Звоните, когда скучно:&nbsp;
                    span.tel.white +7 (3452) 38-11-33
        .menu
            h3 Меню
            ul
                li
                    a Новости
                li
                    a(href="{% url 'reviews_list' %}") Обзоры
                li
                    a(href="{% url 'contacts' %}") Контакты
            ul
                li
                    a Оплата
                li
                    a Акции
                li
                    a Доставка
            ul
                li
                    a(href="{% url 'faq_view' %}") Вопрос-ответ
                li
                    a Гарантия
        .partners
            for footbrand in footbrands
                a(href="{% url 'catalog_all' %}?{{footbrand.url}}").partner
                    {% thumbnail footbrand.image "50x50" crop="center" as im %}
                    <img src="{{ im.url }}" alt="{{ footbrand.title }}">
                    {% endthumbnail %}

    .developers
        | 2014 г. Разработка и продвижение сайта