block nav
    .fixed.top-menu
        .block
            .user-menu
                .clearfix
                    a.cart.item(href="{% url 'cart' %}")
                        i.cart
                        span#cart-mini В корзине нет товаров
                    if request.user.is_authenticated
                        a.logout.item(href="{% url 'accounts_logout' %}")
                            ||&nbsp;Выход
                        a.login.logged.item(href="{% url 'user_account' %}")
                            i.login
                            #{request.user.get_full_name}
                    else
                        a.login.item(href="{% url 'accounts_login' %}")
                            i.login
                            |Войти/Регистрация
                    a(href='/contacts/').address.item
                        i.marker
                        | ТРЦ «Фаворит», ул. В. Гнаровской, 12/1
                    h4.phone.item
                        i.phone
                        | +7 (3452) 38-11-33
            .sections
                .clearfix
                    a.logo.revert(href='/')
                    .menu
                        //- надо переключать класс selected в зависимости от выбранного раздела
                        {% load menubuilder %}{% menu head-menus %}
                        {% for item in menuitems %}
                        {% if item.current %}
                        a.section.selected(href="{{ item.url }}")
                            span {{ item.title }}
                        {% else %}
                        a.section(href="{{ item.url }}")
                            span {{ item.title }}
                        {% endif %}
                        {% endfor %}