doctype html
html(class=page_name_class)
    head
        title
            block title
        meta(charset='utf-8')
        meta(name='keywords',content='{%block keywords %}{% endblock %}')
        meta(name='description',content='{{ DESCRIPTION }}')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        {% load less %}
        link(rel='stylesheet',href='{{ STATIC_URL }}{% less "less/style.less" %}')
        link(rel='stylesheet',href='{{ STATIC_URL }}css/blueimp-gallery.min.css')
    body
        .wrapper
            include blueimp
            include head-menus
            include breadcrumbs
            block categories
            #blueimp
                block content
            .pad
        block footer
            include footer
        block scripts
            script(src=STATIC_URL+'javascripts/jquery-2.1.0.min.js')
            script(src=STATIC_URL+'javascripts/jquery.cookie.js')
            script(src=STATIC_URL+'javascripts/blueimp-gallery.min.js')
            script(src=STATIC_URL+'javascripts/script.js?0')
            //- script(src='/javascripts/bootstrap/bootstrap.min.js')
        block js
            {{ block.super }}
            script(src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js")
            | <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26660832 = new Ya.Metrika({id:26660832, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26660832" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            | <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-57698536-1','auto');ga('create','UA-57766415-1','auto',{'name':'tr2'});ga('send','pageview');ga('tr2.send','pageview');</script>