extend "html.jade"
{% load pytils_dt %}
{% load thumbnail %}

block title
    Главная

block content
    .block.slider
        each slide in slider
            .bg.slide(style='background-image:url({{ slide.image.url }})')
                .hr
        .clearfix.titles
            each slide in slider
                {% if slide.content %}
                b.title.slide {{ slide.content }}
                {% else %}
                b.title.slide.invisible
                {% endif %}
    .categories-expanded
        include categories
    .block.main-information.clearfix
        .social
            #vk_groups.block-white
            if comments
                .replies.block-white
                    .title Revert Boardshop | Отзывы покупателей
                        a(href="/comments").all-replies Все отзывы
                    .list
                        for reply in comments
                            .reply
                                .inner
                                    .icon
                                        a(href=reply.vklink,rel="nofollow",target="_blank").wrap
                                            {% thumbnail reply.image "50x50" crop="center" as im %}
                                            img(src=im.url,alt=reply.author).photo
                                            {% endthumbnail %}
                                    .data
                                        a(href=reply.vklink,rel="nofollow",target="_blank").author=reply.author
                                        .text=reply.content
                                        .date=reply.date|ru_strftime:"%d %B %Y"
        .about
            {% autoescape off %}
            {{ maintext.text }}
            {% endautoescape %}
    .block.content
        h2.heading
            span Скидки
        .catalog-carousel.clearfix
            for good in discounts
                include catalog-item-carusel
        h2.heading
            span Новые поступления
        .catalog-carousel.clearfix
            for good in last_added
                include catalog-item-carusel
block append scripts
    script(src='//vk.com/js/api/openapi.js?105')
    script
        VK.Widgets.Group("vk_groups", {mode: 0, width: "480", height: "200", color1: 'f4f4f4', color2: '505050', color3: '242625'}, 30461269);