<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
	var temp_op;
	var change = false;
	$(function() {
		$("#csvimport select").mousedown(function() {
			temp_op = "." + $('option:selected', this).attr('class');
			change = true;
			//alert("temp_op:"+temp_op);
			//$(op_class).removeAttr('disabled');
		});

		$("#csvimport select").blur(function() {
			if (!change) {
				$(temp_op).removeAttr('disabled');
			}
		});

		$("#csvimport select").change(function() {
			op_class = "." + $('option:selected', this).attr('class');
			$(op_class).attr('disabled','disabled');
			$('option:selected', this).removeAttr('disabled');
			$(temp_op).removeAttr('disabled');
			change = false;
			//alert("op_class:"+op_class);
		});
	});
</script>

<!-- ------------------------------------------------------------------------------------ -->

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" href="/static/admin_tools/css/menu.css" type="text/css" media="screen, projection">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/theming.css">
<style type="text/css">
	#content-main input{
		display: block;
		margin-bottom: 20px;
	}
</style>
<body class="change-list">

<!-- Container -->
<div id="container">

<div id="header">
        <div id="branding">
        
<h1 id="site-name">Панель управления Django</h1>

        </div>
        
        <div id="user-tools">
            Добро пожаловать,
            <strong></strong>.
            
                
                
                
                
                    <a href="/admin/password_change/">
                
                Изменить пароль</a> /
                
                
                    <a href="/admin/logout/">
                
                Выйти</a>
            
        </div>
<script type="text/javascript" src="/static/admin_tools/js/utils.js"></script>
<script type="text/javascript" charset="utf-8">

    // Load js files syncronously and conditionally
    var js_files = [
        {
            src : '/static/admin_tools/js/jquery/jquery.min.js',
            test: function() { return typeof(jQuery) == 'undefined'; }
        },
        {
            src : '/static/admin_tools/js/json.min.js',
            test: function() { return typeof(JSON.stringify) == 'undefined'; }
        },
        {
            src : '/static/admin_tools/js/menu.js',
            test: function() { return true; }
        }
    ];

    loadScripts(js_files, function(){
        jQuery(function($) {
            
                process_bookmarks(
                   "/admin/items/colorpaint/",
                   "Выберите Цвет карски для изменения",
                   "Введите название закладки"
                );
            
        });
    });

</script>
<!--[if IE 6]>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#navigation-menu').children('li').hover(
        function() { jQuery(this).addClass('over'); },
        function() { jQuery(this).removeClass('over'); }
    );
});
</script>
<![endif]-->







<form id="bookmark-form" action="/admin_tools/menu/add_bookmark/" method="POST">
    <input type="hidden" name="next" value="/admin/items/colorpaint/">
    <input type="hidden" name="url" value="/admin/items/colorpaint/">
    <input type="hidden" name="title" value="Выберите Цвет карски для изменения">
    <button id="bookmark-button" type="submit">Add</button>
</form>





<ul id="navigation-menu">
    
<li class="menu-item first"><a href="/admin/">Панель управления</a></li>

<li class="menu-item"><a href="/">Вернуться на сайт</a></li>

<li class="menu-item disabled bookmark"><a href="#">Закладки</a></li>

<li class="menu-item selected"><a href="#"><span class="icon"></span>Приложения</a><ul><li class="menu-item"><a href="/admin/accounts/"><span class="icon"></span>Accounts</a><ul><li class="menu-item"><a href="/admin/accounts/user/">Пользователи</a></li></ul></li><li class="menu-item"><a href="/admin/addresses/"><span class="icon"></span>Addresses</a><ul><li class="menu-item"><a href="/admin/addresses/address/">Адреса пользователей</a></li></ul></li><li class="menu-item"><a href="/admin/brands/"><span class="icon"></span>Brands</a><ul><li class="menu-item"><a href="/admin/brands/brand/">Brands</a></li></ul></li><li class="menu-item"><a href="/admin/cart/"><span class="icon"></span>Cart</a><ul><li class="menu-item"><a href="/admin/cart/freeshipping/">Free shippings</a></li></ul></li><li class="menu-item"><a href="/admin/comments/"><span class="icon"></span>Comments</a><ul><li class="menu-item"><a href="/admin/comments/comment/">Отзывы покупателей</a></li></ul></li><li class="menu-item"><a href="/admin/contacts/"><span class="icon"></span>Contacts</a><ul><li class="menu-item"><a href="/admin/contacts/contactsmap/">Контакты. Как нас найти(Карта)</a></li><li class="menu-item"><a href="/admin/contacts/contactsteam/">Контакты. Наша команда</a></li></ul></li><li class="menu-item"><a href="/admin/faq/"><span class="icon"></span>Faq</a><ul><li class="menu-item"><a href="/admin/faq/faq/">Вопрос-Ответ</a></li></ul></li><li class="menu-item selected"><a href="/admin/items/"><span class="icon"></span>Items</a><ul><li class="menu-item"><a href="/admin/items/brand/">Брэнд товара</a></li><li class="menu-item"><a href="/admin/items/sizeval/">Значения размеров</a></li><li class="menu-item"><a href="/admin/items/specificationimages/">Изображения товара</a></li><li class="menu-item"><a href="/admin/items/category/">Категория товара</a></li><li class="menu-item"><a href="/admin/items/season/">Сезон</a></li><li class="menu-item"><a href="/admin/items/specification/">Спецификации товара</a></li><li class="menu-item"><a href="/admin/items/sizetype/">Тип товара и размер</a></li><li class="menu-item"><a href="/admin/items/item/">Товар</a></li><li class="menu-item selected"><a href="/admin/items/colorpaint/">Цвет карски</a></li><li class="menu-item"><a href="/admin/items/color/">Цвет товара</a></li></ul></li><li class="menu-item"><a href="/admin/menu/"><span class="icon"></span>Menu</a><ul><li class="menu-item"><a href="/admin/menu/menu/">Menus</a></li></ul></li><li class="menu-item"><a href="/admin/news/"><span class="icon"></span>News</a><ul><li class="menu-item"><a href="/admin/news/news/">Новости</a></li></ul></li><li class="menu-item"><a href="/admin/orders/"><span class="icon"></span>Orders</a><ul><li class="menu-item"><a href="/admin/orders/orders/">Заказ</a></li><li class="menu-item"><a href="/admin/orders/orderitem/">Заказ(Товар)</a></li><li class="menu-item"><a href="/admin/orders/orderstatus/">Статус заказа</a></li></ul></li><li class="menu-item"><a href="/admin/reviews/"><span class="icon"></span>Reviews</a><ul><li class="menu-item"><a href="/admin/reviews/review/">Обзоры</a></li></ul></li><li class="menu-item"><a href="/admin/slidertext/"><span class="icon"></span>Slidertext</a><ul><li class="menu-item"><a href="/admin/slidertext/slidertext/">Слайдер</a></li></ul></li><li class="menu-item"><a href="/admin/taggit/"><span class="icon"></span>Taggit</a><ul><li class="menu-item"><a href="/admin/taggit/tag/">Метки</a></li></ul></li></ul></li>

<li class="menu-item"><a href="#"><span class="icon"></span>Администрирование</a><ul><li class="menu-item"><a href="/admin/flatpages/"><span class="icon"></span>Flatpages</a><ul><li class="menu-item"><a href="/admin/flatpages/flatpage/">Простые страницы</a></li></ul></li><li class="menu-item"><a href="/admin/sites/"><span class="icon"></span>Sites</a><ul><li class="menu-item"><a href="/admin/sites/site/">Сайты</a></li></ul></li></ul></li>

</ul>





    </div> 

<div class="breadcrumbs">
<a href="/admin/">Главная</a>
› <a href="/csvimport/upload_parser_file/">Загрузка файла</a>
› Настройка импорта
</div>

    

        

    <!-- Content -->
    <div id="content" class="flex">
        
        <h1>Выбирете CSV файл для импорта товаров</h1>
        
  <div id="content-main">
		<form action="{% url 'import_parser_fin' %}" id="csvimport">
		<p><label for="conv">Цена по курсу:</label><input name="conv" type="text" value ="35"></p>
		<p>
			<label for="category">Категория</label>
			<select name="category">
				{% for item in cat_list %}
					<option value="{{ forloop.counter0 }}">{{ item }}</option>
				{% endfor %}
			</select>
		</p>
		{% for field in import_list %}
			<p>
				<label for="{{ field }}">{{ field }}</label>
				<select name="{{ field }}">
					<option value="-1">Не выбрано</option>
					{% for item in head_csv %}
						<option class="op{{ forloop.counter }}" value="{{ forloop.counter0 }}">{{ item }}</option>
					{% endfor %}
				</select>
			</p>
		{% endfor %}
		    <input type="submit" value="Сохранить"/>
		</form>
  </div>
        <br class="clear">
    </div>
    <!-- END Content -->
    <div id="footer"></div>
</div>
<!-- END Container -->
</body>