extend "layout.jade"
{% load thumbnail %}
block title
    Контакты
block content
    .content.block.contacts-block
        h2.heading
            span Контакты
        .row.clearfix
            .col
                .row
                    .key Заходите на чай:
                    .value {{ contacts.address }}

                .row
                    .key Звоните, когда скучно:
                    .value {{ contacts.phone }}
            .col
                .row
                    .key Ежедневно:
                    .value {{ contacts.workdaystime }}

    .block
        h2.heading.inverted
            span Наша команда
        .team
            for item in contactsteam
                .superman
                    .vcard.clearfix
                        {% thumbnail item.image "180x180" crop="center" as im %}
                        img(src="{{im.url}}",width="{{im.width}}",height="{{im.height}}",alt="{{ item.name }} {{ item.surname }}").photo
                        {% endthumbnail %}
                        .info
                            h4.fn {{ item.name }} {{ item.surname }}
                            {% if item.position  %}
                            .note=item.position
                            {% endif %}
                            {% if item.phone %}
                            .row
                                .key тел:
                                .value.tel {{ item.phone }}
                            {% endif %}
                            {% if item.email %}
                            .row
                                .key e-mail:
                                .value.email {{ item.email }}
                            {% endif %}
    .content.block
        h2.heading
            span Как нас найти
        for item in cntactsmap
            {% autoescape off %}
            .map
                !=item.contact_map
            {% endautoescape %}