@import url('/static/css/fonts/arsenal-regular.css');
@import url('/static/css/fonts/arsenal-italic.css');
@import url('/static/css/fonts/arsenal-bold.css');
@import url('/static/css/fonts/arsenal-bold-italic.css');
@import url('http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext');
@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext');
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  z-index: 0;
  font: 14px 'arsenalregular', sans-serif, Arial;
  background: url('/static/css/images/bg-dark.jpg') 0 0 repeat;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,
h2,
h3,
h4,
p {
  padding: 0 0 .5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
p {
  padding: .5em 0;
}
.wrapper {
  min-height: 100%;
  padding-top: 116px;
  margin-bottom: -180px;
}
.wrapper .pad {
  height: 180px;
}
* html .page-wrapper {
  height: 100%;
}
a {
  cursor: pointer;
  outline: none!important;
}
a:focus {
  outline: none!important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.block {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.user-menu {
  padding: 6px 20px 7px;
  background-color: #000;
}
.user-menu .item {
  float: right;
  padding: 0 5px 0 30px;
  margin: 0 2px;
  font-weight: normal;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  color: #dadada;
  text-decoration: none;
}
.user-menu .item.logged {
  padding-right: 0;
}
.user-menu .item.logout {
  padding-left: 0;
}
.user-menu .item i {
  float: left;
  margin: 2px 0 0 -20px;
}
.user-menu .item i.cart {
  margin-left: -25px;
}
i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
}
i.marker {
  background: url('/static/css/images/sprite.png') -14px -1px no-repeat;
  width: 10px;
  height: 14px;
}
i.phone {
  background: url('/static/css/images/sprite.png') -1px 0 no-repeat;
  width: 13px;
  height: 15px;
}
i.login {
  background: url('/static/css/images/sprite.png') -24px -1px no-repeat;
  width: 14px;
  height: 14px;
}
i.cart {
  background: url('/static/css/images/sprite.png') -38px -1px no-repeat;
  width: 17px;
  height: 14px;
}
.page-main .sections {
  background-color: rgba(246, 246, 246, 0.4);
}
.top-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.top-menu > .block {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}
.top-menu.scrolled > .block {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.top-menu.scrolled .sections {
  background-color: #f6f6f6;
  box-shadow: inset 0 -1px 50px rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.sections {
  padding: 15px 5px 20px 30px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #f6f6f6;
}
.sections .menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
}
.sections .menu .section {
  text-decoration: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  position: relative;
  padding: 0 19px;
}
.sections .menu .section span {
  text-transform: uppercase;
  color: #111;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  display: block;
  padding-top: 16px;
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
}
.sections .menu .section:after {
  position: absolute;
  top: 21px;
  right: 0;
  background: url('/static/css/images/sprite.png') 0 0 no-repeat;
  width: 1px;
  height: 9px;
  clear: none;
  display: block;
}
.sections .menu .section:last-child:after {
  display: none;
}
.sections .menu .section:hover span,
.sections .menu .section.selected span {
  border-bottom-color: #111;
}
.logo.revert {
  background: url('/static/css/images/logo.png') center center no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: 51px;
  zoom: 1;
  *display: inline;
  _height: 51px;
  width: 141px;
  margin-right: 80px;
}
.hr {
  height: 5px;
  background: url('/static/css/images/repeat-x.png') 0 0 repeat-x;
}
.slider .bg {
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
  left: 0;
  min-width: 1000px;
  width: 100%;
  top: 0;
  height: 602px;
}
.slider .bg .hr {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.slider .slide {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  opacity: 0;
  z-index: -2;
}
.slider .slide.this {
  opacity: 1;
  z-index: -1;
}
.slider:not(.loaded) .slide:first-child {
  opacity: 1;
  z-index: -1;
}
.slider .titles {
  margin-top: 26%;
  margin-bottom: 100px;
  position: relative;
}
.slider .title {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.05em;
  background-color: rgba(246, 246, 246, 0.4);
  border-radius: 3px;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  bottom: -18px;
  max-width: 400px;
}
.slider .title.invisible {
  visibility: hidden;
}
.slider .controller {
  text-align: center;
  margin: 0 0 20px;
}
.slider .controller .list {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  background-color: rgba(246, 246, 246, 0.4);
  border-radius: 3px;
  padding: 9px 15px 5px;
  list-style-type: none;
}
.slider .controller .list .slide {
  width: 14px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: 14px;
  zoom: 1;
  *display: inline;
  _height: 14px;
  background: url('/static/css/images/sprite.png') -69px -1px no-repeat;
  cursor: pointer;
  margin: 0 3px;
  z-index: 1;
  opacity: 1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider .controller .list .slide.this {
  background-position: -55px -1px;
  z-index: 1;
}
.content,
.block-white,
.catalog .filter {
  border-radius: 5px;
  background-color: #f6f6f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.categories-list {
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
}
.categories-list.toggable .section .title {
  position: relative;
  cursor: pointer;
}
.categories-list.toggable .section .title .i {
  margin: 5px 0 0 7px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: 8px;
  zoom: 1;
  *display: inline;
  _height: 8px;
  width: 6px;
  background: url('/static/css/images/sprite.png') -138px -1px no-repeat;
}
.categories-list.toggable .section.this .title .i {
  width: 8px;
  height: 6px;
  background-position: -144px -9px;
}
.categories-list .section {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  border-right: 1px solid #dadada;
  padding: 0 30px;
  font-family: 'arsenalregular', sans-serif;
}
.categories-list .section:first-child {
  padding-left: 0;
}
.categories-list .section:last-child {
  border-right-color: transparent;
  padding-right: 0;
}
.categories-list .section .all-categories {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.categories-list .section .all {
  color: #888;
  text-decoration: none;
  float: right;
  display: none;
}
.categories-list .section .title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'arsenalbold', sans-serif;
  font-size: 16px;
  margin: 0 0 8px;
  padding: 20px 7px;
}
.categories-list .section.men .ico {
  background-position: -14px -15px;
}
.categories-list .section.men .ico:hover {
  background: url('/static/css/images/men.gif') -14px -23px no-repeat;
}
.categories-list .section.women .ico {
  background-position: -69px -15px;
}
.categories-list .section.women .ico:hover {
  background: url('/static/css/images/women.gif') 1px -29px no-repeat;
}
.categories-list .section.kids .ico {
  background-position: -137px -15px;
}
.categories-list .section.kids .ico:hover {
  background: url('/static/css/images/kids.gif') -5px -35px no-repeat;
}
.categories-list .section.graffiti .ico {
  width: 57px;
  background-position: -205px -15px;
}
.categories-list .section .ico {
  width: 68px;
  background-image: url('/static/css/images/sprite.png');
  background-repeat: none;
  height: 73px;
  float: left;
}
.categories-list .section .categories {
  margin-left: 10px;
  float: left;
}
.categories-list .section .list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.categories-list .section .list a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding: 5px 7px;
  text-decoration: none;
  cursor: pointer;
  color: #505050;
}
.categories-list .section .list a:hover {
  border-radius: 3px;
  background-color: #dadada;
}
.categories-expanded,
.categories-expanded .categories-list {
  padding: 0;
}
.categories-expanded.toggable {
  position: relative;
  overflow: hidden;
}
.categories-expanded.toggable .inner .section {
  padding: 30px 10px;
}
.categories-expanded.toggable .inner .section:last-child {
  padding-right: 15px;
}
.categories-expanded.toggable .inner .section:first-child {
  margin-left: 0;
  padding-left: 15px;
}
.categories-expanded.toggable .inner .section.this {
  background-color: #dadada;
}
.categories-expanded.toggable .inner .section.this .list a:hover {
  background-color: #fafafa;
}
.categories-expanded .inner {
  display: table;
  width: 100%;
}
.categories-expanded .inner .section {
  padding: 30px 10px;
  border-collapse: collapse;
  border-spacing: 0;
  display: table-cell;
}
.categories-expanded .inner .section .list,
.categories-expanded .inner .section .all {
  display: block;
}
.categories-expanded .inner .section .title {
  padding-top: 0;
}
.graffiti-chooser {
  margin-bottom: -10px;
  position: relative;
}
.graffiti-chooser.not-null .choosed-colors,
.graffiti-chooser.not-null .choosed-cost {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
}
.graffiti-chooser.not-null .choosed-colors-set {
  display: block;
}
.graffiti-chooser .choose-color {
  color: #f6f6f6;
  background-color: #0093be;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 10px 20px 0 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
}
.graffiti-chooser .choosed-cost {
  display: none;
  position: absolute;
  bottom: -35px;
  right: 145px;
  padding: 15px 0 10px;
}
.graffiti-chooser .choosed-cost .wrap {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  margin: -5px 0 0;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  background-color: #efefef;
  font-size: 16px;
  color: #111111;
}
.graffiti-chooser .choosed-colors-set {
  display: none;
  background-color: #eeeeee;
  border: 1px solid #a8a8a8;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 0;
}
.graffiti-chooser .choosed-colors-set .color-mini-controls {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding: 10px;
  margin: 3px 0 0;
  text-align: center;
}
.graffiti-chooser .choosed-colors-set .color-mini-controls .colors .color {
  margin: 0 0 3px!important;
}
.graffiti-chooser .choosed-colors-set .color-mini-controls .calc {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.graffiti-chooser .choosed-colors-set .color-mini-controls .calc.minus {
  float: left;
}
.graffiti-chooser .choosed-colors-set .color-mini-controls .calc.plus {
  float: right;
}
.graffiti-chooser .choosed-colors {
  display: none;
  color: #808080;
  font-size: 14px;
  padding: 15px 0 0;
}
.graffiti-chooser .choosed-colors .total {
  font-size: 16px;
  line-height: 1.24em;
  color: #343434;
  margin: 0 10px;
}
.main-information {
  font-family: 'arsenalregular', sans-serif;
  margin-bottom: 25px;
}
.main-information .social,
.main-information .about {
  box-sizing: border-box;
  float: left;
}
.main-information .social {
  width: 490px;
  margin-right: 10px;
}
.main-information .about {
  width: 50%;
  color: #f4f4f4;
}
.main-information .about h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'arsenalbold', sans-serif;
}
.main-information #vk_groups {
  margin-bottom: 20px;
}
.replies {
  margin-right: 10px;
}
.replies .title,
.reviews .title {
  background-color: #242625;
  color: #f4f4f4;
  padding: 10px;
}
.replies .reply,
.reviews .reply,
.replies .review,
.reviews .review {
  border-bottom: 1px solid #dadada;
}
.replies .reply:last-child,
.reviews .reply:last-child,
.replies .review:last-child,
.reviews .review:last-child {
  border-bottom-color: transparent;
}
.replies .reply .inner,
.reviews .reply .inner,
.replies .review .inner,
.reviews .review .inner {
  padding: 10px;
}
.replies .reply .inner .icon,
.reviews .reply .inner .icon,
.replies .review .inner .icon,
.reviews .review .inner .icon {
  float: left;
  width: 60px;
  text-align: left;
}
.replies .reply .inner .icon .wrap,
.reviews .reply .inner .icon .wrap,
.replies .review .inner .icon .wrap,
.reviews .review .inner .icon .wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 1px;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  line-height: 0;
}
.replies .reply .inner .icon .wrap .photo,
.reviews .reply .inner .icon .wrap .photo,
.replies .review .inner .icon .wrap .photo,
.reviews .review .inner .icon .wrap .photo {
  max-width: 100%;
  max-height: 100%;
  border: 0;
}
.replies .reply .inner .data,
.reviews .reply .inner .data,
.replies .review .inner .data,
.reviews .review .inner .data {
  margin-left: 60px;
}
.replies .reply .inner .data .text,
.reviews .reply .inner .data .text,
.replies .review .inner .data .text,
.reviews .review .inner .data .text {
  color: #343434;
  padding: 10px 0;
  line-height: 18px;
}
.replies .reply .inner .data .author,
.reviews .reply .inner .data .author,
.replies .review .inner .data .author,
.reviews .review .inner .data .author,
.replies .reply .inner .data .date,
.reviews .reply .inner .data .date,
.replies .review .inner .data .date,
.reviews .review .inner .data .date {
  color: #888888;
  display: block;
  text-decoration: none;
}
.reviews .review {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  width: 48%;
  margin-right: 2%;
}
.reviews .review:nth-child(2n) {
  margin-left: 0;
  width: 50%;
}
.reviews .review .inner {
  padding: 0;
}
.reviews .review .inner .icon {
  width: 90px;
}
.reviews .review .inner .icon .wrap {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.reviews .review .inner .icon .wrap .photo {
  margin: 0;
}
.reviews .review .inner .info {
  position: relative;
}
.reviews .review .inner .info .goto {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 10px;
}
.reviews .review .inner .data {
  margin-left: 100px;
}
.reviews .review .inner .data .text {
  margin-right: 25px;
}
.reviews .review .inner .data .name {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}
.reviews .review .inner .data .name .date {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding: 0 5px;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
}
.reviews .review .inner .data .name .name {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding: 0 5px;
  color: #242625;
}
.reviews .review .inner .data .name .date,
.reviews .review .inner .data .name .name {
  font-size: 16px;
}
.reviews .review.comment {
  width: 100%;
  padding: 15px 0;
}
.reviews .review.comment:nth-child(2n) {
  width: 100%;
}
.review-detail .tags {
  margin: 0 0 10px;
}
.review-detail .date {
  padding: 0 0 10px;
}
.goto,
.tags .tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #dadada;
  margin: 0 7px 0 0;
  color: #888;
  text-decoration: none;
}
.footer {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #242625;
  color: #f4f4f4;
  font-size: 14px;
  font-family: 'arsenalregular', sans-serif;
  font-weight: normal;
}
.footer .partners {
  width: 300px;
  margin: 0 auto;
  text-align: justify;
}
.footer .partners .partner {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  margin: 0 5px 5px;
  border: none;
}
.footer .menus {
  padding: 30px;
}
.footer .menus h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'arsenalbold', sans-serif;
  font-weight: bold;
}
.footer .menus ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .menus ul li {
  color: #888888;
  padding: 3px 0;
}
.footer .menus ul li a {
  color: #888888;
  text-decoration: underline;
  cursor: pointer;
}
.footer .menus ul li .white {
  color: #f6f6f6;
}
.footer .menus .contacts {
  float: left;
}
.footer .menus .menu {
  float: right;
}
.footer .menus .menu ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  margin-right: 20px;
}
.footer .developers {
  text-align: right;
  border-top: 1px solid #4e4f4e;
  padding: 4px 30px 6px;
}
.content {
  padding: 30px;
  margin-bottom: 20px;
  color: #343434;
}
.content h1 {
  font-family: 'arsenalbold', sans-serif;
  font-weight: bold;
  font-size: 16pt;
}
.content h2 {
  font-family: 'arsenalregular', sans-serif;
  font-weight: normal;
  font-size: 16pt;
}
.content p {
  font-family: 'arsenalregular', sans-serif;
  font-weight: normal;
  font-size: 14pt;
  line-height: 18pt;
}
.content p.gray {
  color: #888888;
}
.content ul li {
  font-family: 'arsenalregular', sans-serif;
  font-weight: normal;
  font-size: 14pt;
  line-height: 18pt;
  padding-bottom: 22pt;
}
.content .button {
  font-family: 'arsenalregular', sans-serif;
  font-weight: normal;
  font-size: 14pt;
  line-height: 18pt;
  clear: both;
  float: left;
  margin: 10px 0;
  padding: 3px 20px;
  background-color: #343434;
  border-radius: 3px;
  border: none;
  color: #f6f6f6;
  box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4), inset 0 -1px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.content img {
  border-radius: 5px;
  margin: 20px 20px 20px 0;
}
.heading {
  width: 100%;
  padding-bottom: 20px;
}
.heading span {
  float: left;
  padding-right: 10px;
  background-color: #f6f6f6;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'arsenalbold', sans-serif;
  font-weight: bold;
  margin-top: -4px;
}
.heading:after {
  content: '';
  background: url('/static/css/images/repeat-x-5px.png') 0 0 repeat-x;
  min-height: 11px;
  display: block;
}
.heading.inverted span {
  color: #f6f6f6;
  background: url('/static/css/images/bg-dark.jpg') 0 0 transparent repeat;
}
.heading.inverted:after {
  background-position: 0 -11px !important;
}
.breadcrumbs {
  list-style-type: none;
  margin: 10px auto;
  padding: 10px 0;
}
.breadcrumbs,
.breadcrumbs .link,
.breadcrumbs .link a {
  color: #f6f6f6;
  font-family: 'arsenalregular', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.breadcrumbs.low {
  height: 10px;
  overflow: hidden;
  padding: 5px 0;
}
.breadcrumbs .link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
}
.breadcrumbs .link.invisible {
  visibility: hidden;
}
.breadcrumbs .link:after {
  content: '>>';
  padding: 0 10px;
  text-decoration: none;
}
.breadcrumbs .link:last-child:after {
  display: none;
}
.map {
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 1px rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  padding: 2px;
  overflow: hidden;
  box-sizing: content-box;
  width: 940px;
}
.map > ymaps {
  width: 100%;
}
.contacts-block .col,
.contacts-block .key,
.contacts-block .value {
  font-size: 16px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  line-height: 1.7em;
}
.contacts-block .col {
  padding: 0 60px 0 0;
  width: 38%;
}
.contacts-block .col .key {
  width: 60px;
}
.contacts-block .col:first-child {
  border-right: 1px solid #aaaaaa;
  margin-right: 20px;
}
.contacts-block .col:first-child .key {
  width: 170px;
}
.contacts-block .key {
  font-family: 'arsenalregular', sans-serif;
  color: #888888;
  padding-right: 20px;
}
.contacts-block .value {
  font-family: 'arsenalbold', sans-serif;
  font-weight: bold;
  color: #343434;
}
.team {
  padding-bottom: 10px;
}
.team .superman {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  width: 44%;
  margin: 0 60px 20px 0;
}
.team .superman .photo {
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  max-width: 170px;
  float: left;
}
.team .superman .info {
  margin-left: 170px;
  padding-left: 20px;
  color: #f6f6f6;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  line-height: 2em;
}
.team .superman .info .fn {
  font-size: 16px;
  line-height: 1em;
  border-bottom: 1px solid #515151;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
.team .superman .info .key,
.team .superman .info .value {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
}
.team .superman .info .key {
  min-width: 50px;
  color: #888888;
}
.team .superman .info .value {
  font-size: 16px;
}
.team .superman:nth-child(even) {
  margin-right: 0;
}
.bordered {
  padding: 14px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin-bottom: 20px;
}
.user-info .photo {
  width: 88px;
  height: 88px;
  text-align: center;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  float: left;
}
.user-info .photo.no-ava {
  background: url('/static/css/images/sprite.png') -262px 0 transparent no-repeat;
}
.user-info .photo .image {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  max-width: 100%;
  max-height: 100%;
}
.user-info .info {
  margin-left: 100px;
}
.user-info .info .key,
.user-info .info .value {
  font-family: 'arsenalregular', sans-serif;
  font-size: 16px;
  color: #343434;
  line-height: 30px;
}
.user-info .info .key {
  float: left;
  color: #808080;
  min-width: 160px;
}
.tool-remove {
  float: right;
  width: 11px;
  height: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: url('/static/css/images/sprite.png') -97px -1px transparent no-repeat;
  margin-top: 4px;
  margin-left: 25px;
}
.tool-edit {
  float: right;
  color: #808080;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
}
.tool-edit:before {
  content: '';
  width: 14px;
  height: 14px;
  margin-right: 8px;
  float: left;
  background: url('/static/css/images/sprite.png') -83px -1px transparent no-repeat;
}
.subtitle {
  color: #343434;
  font-family: 'arsenalregular', sans-serif;
  font-size: 16px;
}
.address-book .address {
  padding: 3px 0 12px;
}
.address-book .address .container {
  width: 42%;
  float: left;
}
.address-book .address .container .text {
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  color: #808080;
}
.address-book .address .container .text.default {
  background-color: #ebebeb;
  border: 1px solid #aaaaaa;
  padding: 10px;
  float: left;
}
.address-book #address-new {
  padding: 20px 0;
}
.gray-link {
  color: #808080;
  text-decoration: underline;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  cursor: pointer;
}
.toggler-container {
  margin: 0 0 10px;
}
.toggler-container .toggler-trigger {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  font-size: 16px;
  color: #808080;
  padding: 1px 10px;
  margin: 0 10px 0 0;
  border-radius: 3px;
}
.toggler-container .toggler-trigger.this {
  background-color: #dadada;
  color: #343434;
}
.pad-min {
  padding: 20px 0;
}
.toggler-target {
  display: none;
}
.toggler-target.expanded {
  display: block;
}
.order-history {
  width: 100%;
}
.order-history .hd {
  width: 25%;
  text-align: left;
  color: #343434;
  font-family: 'arsenalregular', sans-serif;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #dadada;
  padding: 5px 0 10px;
}
.order-history .order:first-child td {
  padding-top: 20px;
}
.order-history .order td,
.order-history .order a {
  text-decoration: none;
  padding: 10px 0 10px;
  color: #808080;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.catalog {
  padding-bottom: 20px;
}
.catalog .filter {
  float: left;
  width: 18%;
  overflow: hidden;
  padding: 10px 0;
}
.catalog .filter .state {
  float: right;
  width: 8px;
  height: 5px;
  background: url('/static/css/images/sprite.png') -173px -1px transparent no-repeat;
  margin: 5px -10px 0 0;
}
.catalog .filter .inner {
  overflow: hidden;
  padding: 4px 0;
}
.catalog .filter form > div {
  padding: 1px 20px;
}
.catalog .filter form > div.min {
  overflow: hidden;
}
.catalog .filter form > div.min .state {
  height: 8px;
  background-position: -173px -6px;
}
.catalog .filter form > div.min .inner {
  height: 0px;
  padding: 0;
}
.catalog .filter form > div ul {
  list-style-type: none;
  padding-left: 0;
}
.catalog .filter form > div label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #808080;
}
.catalog .filter form > div label > input[type="checkbox"] {
  margin: 0 5px 0 0;
}
.catalog .filter form > div select {
  margin: 10px 0;
}
.catalog .filter form > div > label {
  cursor: pointer;
  display: block;
  background-color: #343434;
  padding: 3px 20px;
  color: #f6f6f6;
  border-radius: 2px;
  margin: 0 -19px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.catalog .filter form input[type="submit"] {
  display: block;
  cursor: pointer;
  margin: 10px auto 0;
  background-color: #343434;
  border-radius: 3px;
  border: none;
  text-align: center;
  padding: 5px 20px;
  width: 90px;
  color: #f6f6f6;
  box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.5), inset 0 1px 3px rgba(255, 255, 255, 0.5);
}
.catalog .content {
  margin-left: 20%;
}
.catalog .content .catalog-item {
  margin-right: 13px;
  margin-bottom: 20px;
}
.catalog .content .catalog-item:nth-child(4n) {
  margin-right: 0px;
}
.rub {
  display: inline-block;
  font-size: 18px;
  line-height: 5px;
  border-bottom: 1px solid #000000;
  width: 0.4em;
  margin-left: 2px;
}
.item-page .catalog-item {
  width: 100%;
  display: block;
}
.item-page .catalog-item .warn {
  display: none;
}
.item-page .catalog-item .cart-add {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.4), inset 0 -1px 3px rgba(0, 0, 0, 0.6), 0 1px 3px rgba(0, 0, 0, 0.4);
  color: #f6f6f6;
  background-color: #343434;
  cursor: pointer;
}
.item-page .catalog-item.graffiti .cart-add {
  float: right;
  margin: 5px 0 0;
}
.item-page .catalog-item .gallery {
  width: 460px;
  float: left;
  position: relative;
}
.item-page .catalog-item .gallery .control {
  top: 180px;
}
.item-page .catalog-item .gallery .control.prev {
  left: 20px;
}
.item-page .catalog-item .gallery .control.next {
  right: 20px;
}
.item-page .catalog-item .gallery .photos-color.inited .photo-container.size-full .photo {
  display: none;
}
.item-page .catalog-item .gallery .photos-color.inited .photo-container.size-full .photo.this {
  display: inline;
}
.item-page .catalog-item .gallery .photos-color.inited .thumbnails .thumb.this .photo-container {
  border-color: #8d8d8d;
}
.item-page .catalog-item .gallery .photos-color .photo-container {
  display: block;
  width: 456px;
  height: auto;
}
.item-page .catalog-item .gallery .photos-color .photo-container .photo {
  max-width: 100%;
  border-radius: 0;
  margin: 0;
  display: none;
}
.item-page .catalog-item .gallery .photos-color .photo-container .photo:first-child {
  display: inline;
}
.item-page .catalog-item .gallery .photos-color .thumbnails {
  margin: 20px 0;
}
.item-page .catalog-item .gallery .photos-color .thumbnails .thumb {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  margin: 0 20px 20px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.item-page .catalog-item .gallery .photos-color .thumbnails .thumb:nth-child(4n) {
  margin-right: 0;
}
.item-page .catalog-item .gallery .photos-color .thumbnails .thumb .photo-container {
  width: 98px;
  height: 98px;
  display: table-cell;
}
.item-page .catalog-item .information {
  color: #888888;
  margin-left: 480px;
}
.item-page .catalog-item .information .params {
  padding-bottom: 5px;
}
.item-page .catalog-item .information .params .field {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  color: #505050;
  background-color: #dadada;
  padding: 2px 7px;
  border-radius: 3px;
  cursor: pointer;
  margin: -2px 0 -2px 5px;
  text-decoration: none;
}
.item-page .catalog-item .information .params,
.item-page .catalog-item .information .description {
  border-bottom: 1px solid #dadada;
}
.item-page .catalog-item .information .description {
  padding: 10px 0!important;
}
.item-page .catalog-item .information .description,
.item-page .catalog-item .information .description p {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
}
.item-page .catalog-item .information .prices {
  padding: 20px 0;
}
.item-page .catalog-item .information .prices .price {
  background-color: #dadada;
  padding: 3px 10px;
  border-radius: 3px;
}
.item-page .catalog-item .information .title {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
.item-page .catalog-item .information .row {
  padding-bottom: 10px;
}
.item-page .catalog-item .information .colors {
  padding: 0;
}
.catalog-item {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  width: 175px;
  position: relative;
}
.catalog-item .badges {
  position: absolute;
  right: -7px;
  top: 10px;
  z-index: 3;
}
.catalog-item .badges .badge {
  position: relative;
  clear: both;
  float: right;
  margin: 0 0 10px 10px;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  padding: 5px 13px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  color: #f4f4f4;
}
.catalog-item .badges .badge:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -9px;
  width: 10px;
  height: 10px;
  z-index: -1;
}
.catalog-item .badges .badge.sale {
  background-color: #ff0000;
}
.catalog-item .badges .badge.sale:after {
  background: url('/static/css/images/sprite.png') -108px -1px no-repeat;
}
.catalog-item .badges .badge.new {
  background-color: #0f9f1d;
}
.catalog-item .badges .badge.new:after {
  background: url('/static/css/images/sprite.png') -128px -1px no-repeat;
}
.catalog-item .badges .badge.action {
  background-color: #00a2ff;
}
.catalog-item .badges .badge.action:after {
  background: url('/static/css/images/sprite.png') -118px -1px no-repeat;
}
.catalog-item .url {
  text-decoration: none;
  color: #888888;
  font-family: 'arsenalregular', sans-serif;
  font-size: 14px;
  display: block;
  text-align: center;
}
.catalog-item .title {
  padding: 10px 0 6px;
  font-size: 14px;
  font-weight: normal;
}
.catalog-item .prices {
  line-height: 1em;
}
.catalog-item .prices .price {
  color: #111111;
  font-size: 16px;
}
.catalog-item .prices .old-price {
  text-decoration: line-through;
  padding-right: 10px;
}
.catalog-item .prices .old-price .rub {
  font-size: 14px;
  line-height: 4px;
  border-bottom: 1px solid #888888;
}
.catalog-item .photo-container {
  border: 1px solid #dadada;
  width: 170px;
  height: 170px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  line-height: 0;
  position: relative;
}
.catalog-item .photo-container:hover .quick-view {
  display: block;
}
.catalog-item .photo-container .quick-view {
  position: absolute;
  left: -10px;
  bottom: 10px;
  display: none;
  cursor: pointer;
  z-index: 9;
  background-color: #343434;
  padding: 3px 10px;
  border-radius: 3px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), inset 0 1px 2px rgba(250, 250, 250, 0.4), inset 0 -1px 2px rgba(0, 0, 0, 0.4);
  color: #f6f6f6;
  font-size: 14px;
  line-height: 1.5em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.catalog-item .photo-container .quick-view:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  z-index: 8;
  position: absolute;
  left: 0;
  top: -9px;
  background: url('/static/css/images/sprite.png') -162px -1px transparent no-repeat;
}
.catalog-item .photo-container .photo {
  line-height: 0;
  max-width: 100%;
  max-height: 100%;
  display: none;
  border-radius: 0;
  margin: 0;
}
.catalog-item .photo-container .photo:first-child {
  display: inline;
}
.catalog-item .photos-color {
  display: none;
}
.catalog-item .photos-color.this {
  display: block;
}
.catalog-item .colors {
  text-align: left;
  padding: 5px 0;
}
.catalog-item .colors .color {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  cursor: pointer;
  margin: 1px 11px 12px 1px;
  border: 1px solid #dddddd;
}
.catalog-item .colors .color.this {
  margin: 0 10px 10px 0;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(4, 4, 4, 0.4);
  padding: 1px;
}
.catalog-item .colors .color.this span {
  border-radius: 2px;
}
.catalog-item .colors .color span {
  width: 30px;
  height: 13px;
  display: block;
}
.catalog-item .sizes .size {
  display: none;
}
.catalog-item .sizes .size.this {
  display: inline;
}
.catalog-item.not-inited .colors .color:first-child {
  margin: 0 10px 10px 0;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(4, 4, 4, 0.4);
  padding: 1px;
}
.catalog-item.not-inited .colors .color:first-child span {
  border-radius: 2px;
}
.catalog-item.not-inited .photos-color:first-child {
  display: block;
}
.control {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  background-color: #343434;
  color: #fcfcfc;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  top: 80px;
  line-height: 1.4em;
  z-index: 3;
}
.control:hover {
  background-color: #dadada;
}
.control.next {
  right: -10px;
}
.control.prev {
  left: -10px;
}
.catalog-carousel.loaded {
  position: relative;
}
.catalog-carousel.loaded .trim {
  position: absolute;
  left: -8px;
  top: 0;
  right: -12px;
  bottom: 0;
  overflow: hidden;
}
.catalog-carousel.loaded .wrap {
  position: absolute;
  left: 0;
  margin-left: 8px;
  top: 0;
  bottom: 0;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.catalog-carousel .catalog-item {
  margin-right: 17px;
}
.color-chooser {
  display: none;
  position: relative;
  background-color: #f6f6f6;
  max-width: 735px;
  margin: 0 auto;
}
.color-chooser.show {
  display: block;
}
.color-chooser .heading:last-child {
  padding-bottom: 0;
}
.color-chooser .content {
  padding: 50px 30px;
}
.color-chooser .close {
  top: 17px!important;
  right: 20px!important;
}
.color-chooser .graffiti-chooser {
  text-align: center;
  margin-bottom: 10px;
}
.color-chooser .list {
  padding: 0 10px;
}
.color-chooser .list .color {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  margin: 10px;
  width: 100px;
  color: #808080;
}
.color-chooser .list .color .preview {
  border: 1px solid #dadada;
}
.color-chooser .list .color .preview .bg {
  height: 65px;
  padding: 10px 0 0 10px;
}
.color-chooser .list .color .preview .name {
  border-top: 1px solid #dadada;
  padding: 4px 10px;
  font-size: 12px;
}
.color-chooser .list .color .selector {
  text-align: center;
  padding: 5px;
}
.color-chooser .list .color .selector .calc {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.color-chooser .list .color .selector .amount {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  border: 1px solid #dadada;
  text-align: center;
  width: 35px;
  color: #808080;
  border-radius: 2px;
}
.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: padding 0.1s ease-in-out;
  transition: padding 0.1s ease-in-out;
}
.modal .block {
  position: relative;
}
.modal .close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 60px;
  right: 30px;
  z-index: 10;
  color: #ffffff;
  border-radius: 2px;
  background-color: #dadada;
  text-align: center;
  text-shadow: 0 0 2px rgba(50, 50, 50, 0.5);
}
.modal.visible {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.cart-steps {
  display: table;
  width: 100%;
  padding: 10px 0;
  margin: 0;
}
.cart-steps .step {
  display: table-cell;
  padding: 0;
  font-size: 16px;
  color: #808080;
}
.cart-steps .step.this {
  color: #343434;
}
.cart-steps .step.this:after {
  background: url('/static/css/images/repeat-x.png') 0 -5px repeat-x;
  border-right: 1px solid #4786a0;
}
.cart-steps .step:after {
  content: '';
  display: block;
  margin: 10px 0 0;
  height: 5px;
  background: url('/static/css/images/repeat-x.png') 0 -10px repeat-x;
}
.cart-items {
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
}
.cart-items .h {
  text-align: left;
  font-size: 16px;
  font-family: 'arsenalbold', sans-serif;
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.cart-items .h.image {
  width: 100px;
}
.cart-items .h.decsription {
  width: 350px;
}
.cart-items .h.price {
  width: 65px;
}
.cart-items .h.price-old {
  width: 90px;
}
.cart-items .h.amount {
  width: 160px;
}
.cart-items .h.sum {
  width: 135px;
}
.cart-items .v {
  padding: 10px 0;
  color: #808080;
}
.cart-items .catalog-item {
  display: table-row;
}
.cart-items .catalog-item .photo-container {
  width: 100px;
  height: auto;
  border-radius: 3px;
}
.cart-items .catalog-item .colors {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  padding-top: 1px;
  padding-left: 7px;
}
.cart-items .catalog-item .title {
  color: #343434;
  padding-top: 0;
  text-decoration: none;
  display: block;
}
.cart-items .catalog-item .description {
  padding-left: 10px;
  padding-right: 10px;
}
.cart-items .catalog-item .params .row {
  padding: 3px 0;
}
.cart-items .catalog-item .price {
  font-size: 16px;
}
.cart-items .catalog-item .tool-remove {
  margin: 0;
  background-position: -152px -1px;
}
.cart-delivery {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  background-color: #efefef;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 15px 20px;
  color: #808080;
}
.cart-delivery .i {
  float: left;
  width: 97px;
  height: 49px;
  background: url('/static/css/images/sprite.png') -350px 0 no-repeat;
  margin: 20px 0 0 -10px;
}
.cart-delivery .info {
  margin-left: 100px;
  max-width: 200px;
}
.cart-delivery .info .val {
  display: inline;
  font-size: 16px;
  color: #343434;
  margin: 0px;
}
.cart-delivery .back {
  text-align: right;
  padding: 10px 0 5px;
}
.cart-total {
  float: right;
  color: #343434;
  font-size: 16px;
  font-weight: bold;
}
.cart-total .total {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  background-color: #efefef;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 3px 5px;
  margin: -4px 20px 0;
}
.cart-total .total .value {
  display: inline;
}
.cart-total .continue {
  margin: -4px 0 0;
}
.cart-total .continue.hidden {
  display: none;
}
.cart-page .continue-right {
  float: right!important;
}
.button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #f6f6f6;
  padding: 4px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.button.flat {
  font-family: 'arsenalregular', sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: none;
}
.button.red {
  background-color: #fa5137;
  float: none;
  clear: none;
}
.button.blue {
  background-color: #31a3c8;
  float: none;
  clear: none;
}
.button.gray {
  background-color: #888888;
}
.button.mail {
  clear: both;
  float: right;
}
.fl-left {
  float: left!important;
}
.fl-right {
  float: right!important;
}
.formset {
  padding: 10px 0;
}
.formset .label,
.formset .value {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  font-size: 16px;
  line-height: 1.5em;
}
.formset .label {
  width: 160px;
  color: #808080;
}
.formset .value {
  color: #343434;
}
.form-set {
  padding: 10px 0;
}
.form-set label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  font-size: 16px;
  line-height: 1.5em;
  width: 160px;
  color: #808080;
}
.form-set input[type="submit"],
.form-set input[type="button"] {
  margin: 5px 0;
}
.cart-auth {
  margin: 0 0 0 2%;
  width: 49%;
}
.cart-auth,
.cart-auth .heading span {
  background-color: #f0f0f0;
}
.order-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: auto;
  zoom: 1;
  *display: inline;
  _height: auto;
  width: 48%;
}
.order-block:last-child {
  margin: 0 0 0 2%;
  width: 49%;
}
.order-block .inner {
  border: 1px solid #aaaaaa;
  padding: 10px 13px;
}
.order-block .button {
  margin: 15px 0 0!important;
}
.order-block .button.no-mt {
  margin-top: -5px !important;
}
.pay-methods .row {
  display: block;
  padding: 10px 0;
}
.pay-methods .row.courier i {
  background-position: -447px 0;
}
.pay-methods .row.card i {
  background-position: -447px -30px;
}
.pay-methods .row.emoney i {
  background-position: -447px -60px;
}
.pay-methods .row.bank i {
  background-position: -447px -90px;
}
.pay-methods .row.post i {
  background-position: -447px -120px;
}
.pay-methods .row i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: 30px;
  zoom: 1;
  *display: inline;
  _height: 30px;
  width: 40px;
  background-image: url('/static/css/images/sprite.png');
  background-repeat: no-repeat;
  margin: -5px 10px 0;
}
.form-faq label,
.form-faq input[type="text"],
.form-faq textarea {
  width: 100%;
  margin: 10px 0;
}
.form-faq .table {
  width: 100%;
}
.form-faq .table th {
  text-align: left;
}
.form-control {
  border-radius: 0px;
  height: 23px;
  padding: 4px 8px;
  font-size: 12px;
}
.preloads {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 0;
}
.zoom-win {
  position: absolute;
  top: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
}
.zoom-win img {
  -webkit-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
}
.zoom-ctl {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.5);
  cursor: crosshair;
  border: 1px solid 555;
}
.all-replies {
  float: right;
  text-decoration: none;
  color: #f4f4f4;
}
/*mail-specific*/
.mail.wrapper {
  padding-top: 0px;
}
.mail.user-menu {
  height: 14px;
}
.mail.cart-welcome {
  font-style: italic;
  padding: 0 0 25px 0;
}
.mail .v.count,
.mail .v.total {
  padding-left: 20px;
}
.mail .top-menu {
  position: relative !important;
  margin-bottom: 20px;
}
.mail .cart-total {
  text-align: right;
}
.mail.cart-delivery {
  color: #343434;
  background-color: transparent;
  border: none;
  width: 100%;
}
.mail.cart-delivery .image {
  vertical-align: middle;
  text-align: left;
}
.mail.cart-delivery .i {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
}
.mail.cart-delivery .info {
  vertical-align: middle;
  padding-left: 10px;
  padding-top: 20px;
  color: #343434;
  font-style: italic;
  max-width: auto;
  width: 390px;
}
.mail.cart-delivery .info .text {
  font-size: 14px;
}
.mail .cart-total {
  float: none;
}
.mail.button.gray {
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  margin-top: 17px;
  padding: 7px 20px;
}
.mail .menus {
  width: 100%;
}
.mail .contacts,
.mail .menu {
  padding: 20px;
  float: none;
}
.mail .h {
  font-weight: normal;
}
.mail .heading span {
  text-transform: none;
}
.mail .total {
  padding: 6px 13px;
  margin-top: -10px;
  font-size: 20px;
  font-weight: normal;
}
.mail .photos-color.this .photo {
  display: inline;
}