@import "bootstrap/normalize";
@import "bootstrap/mixins";
@static:'/static/css/';
@import url("@{static}fonts/arsenal-regular.css");
@import url("@{static}fonts/arsenal-italic.css");
@import url("@{static}fonts/arsenal-bold.css");
@import url("@{static}fonts/arsenal-bold-italic.css");
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,cyrillic-ext);
@pt-sans-narrow:'PT Sans Narrow', sans-serif;
@ars-regular:'arsenalregular', sans-serif;
@ars-bold:'arsenalbold', sans-serif;
@white: #f6f6f6;
@bg-trans-white:rgba(246,246,246,.4);
.inline-block(@height:auto) {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  height: @height;
  zoom: 1;
  *display: inline;
  _height: @height;
}
.webkit-margins(@size:0.83em) {
  -webkit-margin-before: @size;
  -webkit-margin-after: @size;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.unselectable() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
  position: relative;
  z-index: 0;
  font: 14px @ars-regular, Arial;
  background: url("@{static}images/bg-dark.jpg") 0 0 repeat;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,p {
  padding: 0 0 .5em;
  .webkit-margins(0);
}
p {
    padding: .5em 0;
}
.wrapper {
    min-height: 100%;
    @footer-pad:180px;
    padding-top: 116px;
    position: relative;
    margin-bottom: -@footer-pad;
    .pad {
      height: @footer-pad;
    }
}
* html .page-wrapper {
    height: 100%;
}
@width:1000px;
a {
  cursor: pointer;
  outline: none!important;
  &:focus {
    outline: none!important;
  }
}
.clearfix {
  .clearfix();
}
.block {
  width: @width;
  margin: 0 auto;
  box-sizing: border-box;
}
.user-menu {
  padding: 6px 20px 7px;
  background-color: #000;
  .item {
    float:right;
    padding: 0 5px 0 30px;
    &.logged {
      padding-right: 0;
    }
    &.logout {
      padding-left: 0;
    }
    margin: 0 2px;
    font-weight: normal;
    font-family: @ars-regular;
    font-size:14px;
    color: #dadada;
    text-decoration: none;
    i {
      float:left;
      margin: 2px 0 0 -20px;
      &.cart {
        margin-left: -25px;
      }
    }
  }
}
i {
  .inline-block();
  &.marker {
    background: url("@{static}images/sprite.png") -14px -1px no-repeat;
    width: 10px;
    height: 14px;
  }
  &.phone {
    background: url("@{static}images/sprite.png") -1px 0 no-repeat;
    width: 13px;
    height: 15px;
  }
  &.login {
    background: url("@{static}images/sprite.png") -24px -1px no-repeat;
    width: 14px;
    height: 14px;
  }
  &.cart {
    background: url("@{static}images/sprite.png") -38px -1px no-repeat;
    width: 17px;
    height: 14px;
  }
}
.page-main {
  .sections {
    background-color: @bg-trans-white;
  }
}
.top-menu {
  &.fixed {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 4;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  }
  &>.block {
    .border-bottom-radius(5px);
    overflow: hidden;
  }
  &.scrolled {
    &>.block {
      box-shadow: 0px 0px 5px rgba(0,0,0,.6);
      .transition(box-shadow .2s ease-in-out);
    }
    .sections {
      background-color: @white;
      box-shadow: inset 0 -1px 50px rgba(0,0,0,.15);
      .transition(box-shadow .2s ease-in-out);
    }
  }
}
.sections {
  padding: 15px 5px 20px 30px;
  .transition(background-color .2s ease);
  background-color: @white;
  .menu {
    .inline-block();
    .section {
      @menu-section-pad-vert:16px;
      @menu-section-pad-horz:19px;
      span {
        text-transform: uppercase;
        color: #111;
        font-family: @pt-sans-narrow;
        font-weight: bold;
        display: block;
        padding-top: @menu-section-pad-vert;
        padding-bottom: @menu-section-pad-vert - 6px;
        border-bottom: 4px solid transparent;
      }
      text-decoration: none;
      .inline-block();
      position: relative;
      padding: 0 @menu-section-pad-horz;
      &:after {
        position: absolute;
        top:@menu-section-pad-vert+5px;
        right:0;
        background: url("@{static}images/sprite.png") 0 0 no-repeat;
        width: 1px;
        height: 9px;
        clear: none;
        display: block;
      }
      &:last-child:after {
        display: none;
      }
      &:hover, &.selected {
        span {
          border-bottom-color: #111;
        }
      }
    }
  }
}
.logo {
  &.revert {
    background: url("@{static}images/logo.png") center center no-repeat;
    .inline-block(51px);
    width: 141px;
    margin-right: 80px;
  }
}
.hr {
  height: 5px;
  background: url("@{static}images/repeat-x.png") 0 0 repeat-x;
}
.slider{
  .bg {
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
    left:0;
    min-width: @width;
    width: 100%;
    top:0;
    height: 602px;
    .hr {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .slide {
    .transition(opacity .5s ease-in-out);
    background-size: cover;
    opacity: 0;
    z-index: -2;
    &.this {
      opacity: 1;
      z-index: -1;
    }
  }
  &:not(.loaded){
    .slide:first-child {
      opacity: 1;
      z-index: -1;
    }
  }
  .titles {
    margin-top: 26%;
    margin-bottom: 100px;
    position: relative;
  }
  .title {
    text-transform: uppercase;
    font-family: @pt-sans-narrow;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.05em;
    background-color: @bg-trans-white;
    border-radius:3px;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    bottom: -18px;
    max-width:400px;
    &.invisible {
      visibility: hidden;
    }
  }
  .controller {
    text-align: center;
    margin:0 0 20px;
    .list {
      .inline-block();
      background-color: @bg-trans-white;
      border-radius:3px;
      padding: 9px 15px 5px;
      list-style-type: none;
      .slide {
        width: 14px;
        .inline-block(14px);
        background: url("@{static}images/sprite.png") -69px -1px no-repeat;
        cursor: pointer;
        margin: 0 3px;
        z-index: 1;
        opacity: 1;
        .unselectable();
        &.this {
          background-position:-55px -1px;
          z-index: 1;
        }
      }
    }
  }
}
.content,.block-white, .catalog .filter {
  border-radius: 5px;
  background-color: @white;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.categories-list {
  @mcpad:30px;
  padding: @mcpad;
  position: relative;
  margin-bottom: 30px;
  &.toggable {
    .section {
      .title {
        position: relative;
        cursor: pointer;
        .i {
          margin: 5px 0 0 7px;
          .inline-block(8px);
          width: 6px;
          background: url("@{static}images/sprite.png") -138px -1px no-repeat;
        }
      }
      &.this {
        .title {
          .i {
            width: 8px;
            height: 6px;
            background-position: -144px -9px;
          }
        }
      }
    }
  }
  .section {
    .inline-block();
    border-right: 1px solid #dadada;
    padding: 0 30px;
    font-family: @ars-regular;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right-color: transparent;
      padding-right: 0;
    }
    .all-categories {
      position: absolute;
      bottom: @mcpad;
      right: @mcpad;
    }
    .all {
      color: #888;
      text-decoration: none;
      float: right;
      display: none;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
      font-family: @ars-bold;
      font-size: 16px;
      margin: 0 0 8px;
      padding: 20px 7px;
    }
    &.men .ico {
      background-position: -14px -15px;
      &:hover {
        background: url("@{static}images/men.gif") -14px -23px no-repeat;
      }
    }
    &.women .ico {
      background-position: -69px -15px;
      &:hover {
        background: url("@{static}images/women.gif") 1px -29px no-repeat;
      }
    }
    &.kids .ico {
      background-position: -137px -15px;
      &:hover {
        background: url("@{static}images/kids.gif") -5px -35px no-repeat;
      }
    }
    &.graffiti .ico {
      width: 57px;
      background-position: -205px -15px;
    }
    .ico {
      width: 68px;
      background-image: url("@{static}images/sprite.png");
      background-repeat: none;
      height:73px;
      float:left;
    }
    .categories {
      margin-left: 75px;
    }
    .list {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
      a {
        .inline-block();
        padding: 5px 7px;
        text-decoration: none;
        cursor: pointer;
        color: #505050;
        &:hover {
          border-radius: 3px;
          background-color: #dadada;
        }
      }
    }
  }
}
.sub-category__elem {
  a {
    .inline-block();
    padding: 5px 7px;
    text-decoration: none;
    cursor: pointer;
    color: #505050;
    &:hover {
      border-radius: 3px;
      background-color: #dadada;
    }
  }
}
.categories-expanded {
  &,& .categories-list {
    padding: 0;
  }
  &.toggable {
    position: relative;
    overflow: hidden;
    .inner {
      .section {
        padding:30px 10px 60px;
        &:last-child {
          padding-right: 15px;
        }
        &:first-child {
          margin-left: 0;
          padding-left: 15px;
        }
        &.this {
          background-color: #dadada;
          .list {
            a:hover {
              background-color: #fafafa;
            }
          }
        }
      }
    }
  }
  .inner {
    display: table;
    width: 100%;
    .section {
      padding: 30px 10px 60px;
      border-collapse: collapse;
      border-spacing: 0;
      width: 25%;
      display: table-cell;
      .list, .all {
        display: block;
      }
      .title {
        padding-top: 0;
      }
    }
  }
}
.graffiti-chooser {
  margin-bottom: -10px;
  position: relative;
  &.not-null {
    .choosed-colors, .choosed-cost {
      .inline-block();
    }
    .choosed-colors-set {
      display: block;
    }
  }
  .choose-color {
    color: #f6f6f6;
    background-color: #0093be;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    .unselectable();
    margin: 10px 20px 0 0;
    .inline-block();
  }
  .choosed-cost {
    display: none;
    position: absolute;
    bottom: -35px;
    right: 145px;
    padding: 15px 0 10px;
    .wrap {
      .inline-block();
      margin: -5px 0 0;
      padding: 5px 10px;
      border-radius: 3px;
      border: 1px solid #aaaaaa;
      background-color: #efefef;
      font-size: 16px;
      color: #111111;
    }
  }
  .choosed-colors-set {
    display: none;
    background-color: #eeeeee;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 10px 0;
    .color-mini-controls {
      .inline-block();
      padding: 10px;
      margin: 3px 0 0;
      text-align: center;
      .colors {
        .color {
          margin: 0 0 3px!important;
        }
      }
      .calc {
        cursor: pointer;
        .unselectable();
        &.minus {
          float: left;
        }
        &.plus {
          float: right;
        }
      }
    }
  }
  .choosed-colors {
    display: none;
    color: #808080;
    font-size: 14px;
    padding: 15px 0 0;
    .total {
      font-size: 16px;
      line-height: 1.24em;
      color: #343434;
      margin: 0 10px;
    }
  }
}
.main-information {
  font-family: @ars-regular;
  margin-bottom: 25px;
  .social, .about {
    box-sizing: border-box;
    float:left;
  }
  .social {
    width: 490px;
    margin-right: 10px;
  }
  .about {
    width: 50%;
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: @ars-bold;
    }
    color: #f4f4f4;
  }
  #vk_groups {
    margin-bottom: 20px;
  }
}
.replies {
  margin-right: 10px;
}
.replies, .reviews {
  .title {
    background-color: #242625;
    color: #f4f4f4;
    padding: 10px;
  }
  .reply, .review {
    border-bottom: 1px solid #dadada;
    &:last-child {
      border-bottom-color: transparent;
    }
    .inner {
      padding: 10px;
      .icon {
        float: left;
        width: 60px;
        text-align: left;
        .wrap {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding: 1px;
          border-radius: 2px;
          box-shadow: 0 0 1px rgba(0,0,0,.5);
          width: 50px;
          height: 50px;
          line-height: 0;
          .photo {
            max-width: 100%;
            max-height: 100%;
            border: 0;
          }
        }
      }
      .data {
        margin-left: 60px;
        .text {
          color: #343434;
          padding: 10px 0;
          line-height: 18px;
        }
        .author, .date {
          color: #888888;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}
.reviews {
  .review {
    .inline-block();
    width: 48%;
    margin-right: 2%;
    &:nth-child(2n){
      margin-left: 0;
      width: 50%;
    }
    .inner {
      padding: 0;
      .icon {
        width: 90px;
        .wrap {
          width: 80px;
          height: 80px;
          box-shadow: 0 0 3px rgba(0,0,0,.6);
          .photo {
            margin: 0;
          }
        }
      }
      .info {
        position: relative;
        .goto {
          position: absolute;
          margin: 0;
          right: 0;
          bottom: 10px;
        }
      }
      .data {
        margin-left: 100px;
        .text {
          margin-right: 25px;
        }
        .name {
          text-decoration: none;
          padding: 0;
          margin: 0;
          display: block;
          .date {
            .inline-block();
            padding: 0 5px;
            border: 1px solid #dadada;
            border-bottom: none;
            border-top: none;
          }
          .name {
            .inline-block();
            padding: 0 5px;
            color: #242625;
          }
          .date,.name {
            font-size: 16px;
          }
        }
      }
    }
    &.comment {
      width: 100%;
      padding: 15px 0;
      &:nth-child(2n){
        width: 100%;
      }
    }
  }
}
.review-detail {
  .tags {
    margin: 0 0 10px;
  }
  .date {
    padding: 0 0 10px;
  }
}
.goto, .tags .tag {
    .inline-block();
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #dadada;
    margin: 0 7px 0 0;
    color: #888;
    text-decoration: none;
}
.footer {
  .border-top-radius(5px);
  background-color: #242625;
  color: #f4f4f4;
  font-size: 14px;
  font-family: @ars-regular;
  font-weight: normal;
  .partners {
    width: 300px;
    margin: 0 auto;
    text-align: justify;
    .partner {
      .inline-block();
      margin: 0 5px 5px;
      border: none;
    }
  }
  .menus {
    h3 {
      text-transform: uppercase;
      font-size: 16px;
      font-family: @ars-bold;
      font-weight: bold;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        color: #888888;
        padding: 3px 0;
        a {
          color: #888888;
          text-decoration: underline;
          cursor: pointer;
        }
        .white {
          color: @white;
        }
      }

    }
    .contacts {
      float: left;
    }
    .menu {
      float: right;
      ul {
        .inline-block();
        margin-right: 20px;
      }
    }
    padding: 30px;
  }
  .developers {
    text-align: right;
    border-top: 1px solid #4e4f4e;
    padding: 4px 30px 6px;
  }
}
.content {
  padding: 30px;
  margin-bottom:20px;
  @content-font-color:#343434;
  color:@content-font-color;
  h1 {
    font-family: @ars-bold;
    font-weight: bold;
    font-size: 16pt;
  }
  h2 {
    font-family: @ars-regular;
    font-weight: normal;
    font-size: 16pt;
  }
  p {
    font-family: @ars-regular;
    font-weight: normal;
    font-size: 14pt;
    line-height: 18pt;
    &.gray {
      color:#888888;
    }
  }
  ul {
    li {
      font-family: @ars-regular;
      font-weight: normal;
      font-size: 14pt;
      line-height: 18pt;
      padding-bottom: 22pt;
    }
  }
  .button {
    font-family: @ars-regular;
    font-weight: normal;
    font-size: 14pt;
    line-height: 18pt;
    clear:both;
    float:left;
    margin: 10px 0;
    padding: 3px 20px;
    background-color: #343434;
    border-radius: 3px;
    border: none;
    color:@white;
    box-shadow: inset 0 1px 4px rgba(255,255,255,.4),inset 0 -1px 3px rgba(0,0,0,.6);
    cursor: pointer;
  }
  img {
    border-radius: 5px;
    margin: 20px 20px 20px 0;
  }
}
.heading {
  width: 100%;
  padding-bottom: 20px;
  span {
    float:left;
    padding-right: 10px;
    background-color: @white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: @ars-bold;
    font-weight: bold;
    margin-top: -4px;
  }
  &:after {
    content: '';
    background:url("@{static}images/repeat-x-5px.png") 0 0 repeat-x;
    min-height:11px;
    display: block;
  }
  &.inverted {
    span {
      color: #f6f6f6;
      background: url("@{static}images/bg-dark.jpg") 0 0 transparent repeat;
    }
    &:after {
      background-position: 0 -11px!important;
    }
  }
}
.breadcrumbs {
  list-style-type: none;
  margin: 10px auto;
  padding: 10px 0;
  &, .link, .link a {
    color: #f6f6f6;
    font-family: @ars-regular;
    font-weight: normal;
    font-size: 14px;
  }
  &.low {
    height: 10px;
    overflow: hidden;
    padding: 5px 0;
  }
  .link {
    .inline-block();
    &.invisible {
      visibility: hidden;
    }
    &:after {
      content: '>>';
      padding: 0 10px;
      text-decoration: none;
    }
    &:last-child:after {
      display: none;
    }
  }
}
.map {
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 1px rgba(200,200,200,.5);
  border-radius: 5px;
  padding: 2px;
  overflow: hidden;
  box-sizing: content-box;
  width: 940px;
  & > ymaps {
    width: 100%;
  }
}
.contacts-block {
  .col, .key, .value {
    font-size: 16px;
    .inline-block();
    line-height: 1.7em;
  }
  .col {
    padding: 0 60px 0 0;
    width: 38%;
    .key {
      width: 60px;
    }
    &:first-child {
      border-right: 1px solid #aaaaaa;
      margin-right: 20px;
      .key {
        width: 170px;
      }
    }
  }
  .key {
    font-family: @ars-regular;
    color:#888888;
    padding-right: 20px;
  }
  .value {
    font-family: @ars-bold;
    font-weight: bold;
    color: #343434;
  }
}
.team {
  padding-bottom: 10px;
  .superman {
    .inline-block();
    width: 44%;
    margin: 0 60px 20px 0;
    @team-photo-width:170px;
    .photo {
      border: 1px solid #fff;
      border-radius: 5px;
      box-shadow: 0 0 1px rgba(0,0,0,.4);
      max-width: @team-photo-width;
      float:left;
    }
    .info {
      margin-left: @team-photo-width;
      padding-left: 20px;
      color:#f6f6f6;
      font-family: @ars-regular;
      font-size:14px;
      line-height: 2em;
      .fn {
        font-size:16px;
        line-height: 1em;
        border-bottom: 1px solid #515151;
        padding-bottom: 10px;
        margin-bottom: 5px;
      }
      .key,.value {
        .inline-block();
      }
      .key {
        min-width: 50px;
        color:#888888;
      }
      .value {
        font-size:16px;
      }
    }
    &:nth-child(even){
      margin-right: 0;
    }
  }
}
.bordered {
  padding: 14px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  margin-bottom: 20px;
}
.user-info {
  .photo {
    width: 88px;
    height: 88px;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    float: left;
    &.no-ava {
      background: url("@{static}images/sprite.png") -262px 0 transparent no-repeat;
    }
    .image {
      .inline-block();
      max-width: 100%;
      max-height: 100%;
    }
  }
  .info {
    margin-left: 100px;
    .key, .value {
      font-family: @ars-regular;
      font-size: 16px;
      color: #343434;
      line-height: 30px;
    }
    .key {
      float: left;
      color: #808080;
      min-width: 160px;
    }
  }
}
.tool-remove {
  float: right;
  width: 11px;
  height: 10px;
  cursor: pointer;
  .unselectable();
  background: url("@{static}images/sprite.png") -97px -1px transparent no-repeat;
  margin-top: 4px;
  margin-left: 25px;
}
.tool-edit {
  float: right;
  color: #808080;
  font-family: @ars-regular;
  font-size: 14px;
  &:before {
    content: '';
    width: 14px;
    height: 14px;
    margin-right: 8px;
    float: left;
    background: url("@{static}images/sprite.png") -83px -1px transparent no-repeat;
  }
}
.subtitle {
  color: #343434;
  font-family: @ars-regular;
  font-size: 16px;
}
.address-book {
  .address {
    padding: 3px 0 12px;
    .container {
      width: 42%;
      float: left;
      .text {
        font-family: @ars-regular;
        font-size: 14px;
        color: #808080;
        &.default {
          background-color: #ebebeb;
          border: 1px solid #aaaaaa;
          padding: 10px;
          float:left;
        }
      }
    }
  }
  #address-new {
    padding: 20px 0;
  }
}
.gray-link {
  color: #808080;
  text-decoration: underline;
  font-family: @ars-regular;
  font-size: 14px;
  cursor: pointer;
}
.toggler-container {
  margin: 0 0 10px;
  .toggler-trigger {
    .inline-block();
    font-size: 16px;
    color: #808080;
    padding: 1px 10px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    &.this {
      background-color: #dadada;
      color: #343434;
    }
  }
}
.pad-min {
  padding: 20px 0;
}
.toggler-target {
  display: none;
  &.expanded {
    display: block;
  }
}
.order-history {
  width: 100%;
  .hd {
    width: 25%;
    text-align: left;
    color: #343434;
    font-family: @ars-regular;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #dadada;
    padding: 5px 0 10px;
  }
  .order {
    &:first-child {
      td {
        padding-top: 20px;
      }
    }
    td, a {
      text-decoration: none;
      padding: 10px 0 10px;
      color: #808080;
      font-family: @ars-regular;
      font-size: 14px;
      font-weight: normal;
    }
  }
}
.catalog {
  padding-bottom: 20px;
  .filter {
    float:left;
    width: 18%;
    overflow: hidden;
    padding: 10px 0;
    .state {
      float: right;
      width: 8px;
      height: 5px;
      background: url("@{static}images/sprite.png") -173px -1px transparent no-repeat;
      margin: 5px -10px 0 0;
    }
    .inner {
      overflow: hidden;
      padding: 4px 0;
    }
    form {
      & > div {
        &.min {
          overflow: hidden;
          .state {
            height: 8px;
            background-position: -173px -6px;
          }
          .inner {
            height: 0px;
            padding: 0;
          }
        }
        padding: 1px 20px;
        ul {
          list-style-type: none;
          padding-left: 0;
        }
        label {
          .unselectable();
          color: #808080;
          & > input {
            &[type="checkbox"] {
              margin: 0 5px 0 0;
            }
          }
        }
        select {
          margin: 10px 0;
        }
        & > label {
          cursor: pointer;
          display: block;
          background-color: #343434;
          padding: 3px 20px;
          color: #f6f6f6;
          border-radius: 2px;
          margin: 0 -19px;
          box-shadow: 0 0 2px rgba(0,0,0,.4);
        }
      }
      input[type="submit"] {
        display: block;
        cursor: pointer;
        margin: 10px auto 0;
        background-color: #343434;
        border-radius: 3px;
        border: none;
        text-align: center;
        padding: 5px 20px;
        width: 90px;
        color: #f6f6f6;
        box-shadow: inset 0 -1px 3px rgba(0,0,0,.5),
                    inset 0 1px 3px rgba(255,255,255,.5);
      }
    }
  }
  .content {
    margin-left: 20%;
    padding: 30px 25px;
    .catalog-item {
      margin-right: 13px;
      margin-bottom: 20px;
      &:nth-child(4n) {
        margin-right: 0px;
      }
    }
  }
}
.rub {
  display: inline-block;
  font-size: 18px;
  line-height: 5px;
  border-bottom: 1px solid #000000;
  width:0.4em;
  margin-left: 2px;
}
.item-page {
  .catalog-item {
    width: 100%;
    display: block;
    .warn {
      display: none;
    }
    .cart-add {
      .inline-block();
      .unselectable();
      padding: 5px 10px;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(255,255,255,.4),
                  inset 0 -1px 3px rgba(0,0,0,.6),
                  0 1px 3px rgba(0,0,0,.4);
      color: #f6f6f6;
      background-color: #343434;
      cursor: pointer;
    }
    &.graffiti {
      .cart-add {
        float: right;
        margin: 5px 0 0;
      }
    }
    .gallery {
      width: 460px;
      float: left;
      position: relative;
      .control {
        top: 180px;
        &.prev {
          left: 20px;
        }
        &.next {
          right: 20px;
        }
      }
      .photos-color {
        &.inited {
          .photo-container.size-full .photo {
            display: none;
            &.this {
              display: inline;
            }
          }
          .thumbnails {
            .thumb.this {
              .photo-container {
                border-color: #8d8d8d;
              }
            }
          }
        }
        .photo-container {
          display: block;
          width: 456px;
          height: auto;
          background-color: #fff;
          .photo {
            max-width: 100%;
            border-radius: 0;
            margin: 0;
            display: none;
            &:first-child {
              display: inline;
            }
          }
        }
        .thumbnails {
          margin: 20px 0;
          .thumb {
            .inline-block();
            margin: 0 20px 20px 0;
            cursor: pointer;
            .unselectable();
            &:nth-child(4n){
              margin-right: 0;
            }
            .photo-container {
              width: 98px;
              height: 98px;
              display: table-cell;
            }
          }
        }
      }

    }
    .information {
      color: #888888;
      margin-left: 480px;
      .params {
        padding-bottom: 5px;
        .field {
          .inline-block();
          color: #505050;
          background-color: #dadada;
          padding: 2px 7px;
          border-radius: 3px;
          cursor: pointer;
          margin: -2px 0 -2px 5px;
          text-decoration: none;
        }
      }
      .params, .description {
        border-bottom: 1px solid #dadada;
      }
      .description {
        padding: 10px 0!important;
        &,& p {
          padding: 0;
          font-size: 14px;
          line-height: 20px;
        }
      }
      .prices {
        padding: 20px 0;
        .price {
          background-color: #dadada;
          padding: 3px 10px;
          border-radius: 3px;
        }
      }
      .title {
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #dadada;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
      }
      .row {
        padding-bottom: 10px;
      }
      .colors {
        padding: 0;
      }
    }
  }
}
.catalog-item {
  .inline-block();
  width: 175px;
  position: relative;
  .badges {
    position: absolute;
    right: -7px;
    top: 10px;
    z-index: 3;
    .badge {
      position: relative;
      clear: both;
      float: right;
      margin: 0 0 10px 10px;
      font-family: @ars-regular;
      font-size: 14px;
      padding: 5px 13px;
      text-shadow: 0 1px 3px rgba(0,0,0,.4);
      box-shadow: 0 1px 3px rgba(0,0,0,.4);
      border-radius: 3px;
      color: #f4f4f4;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -9px;
        width: 10px;
        height: 10px;
        z-index: -1;
      }
      &.sale {
        background-color: #ff0000;
        &:after {
          background: url("@{static}images/sprite.png") -108px -1px no-repeat;
        }
      }
      &.new {
        background-color: #0f9f1d;
        &:after {
          background: url("@{static}images/sprite.png") -128px -1px no-repeat;
        }
      }
      &.action {
        background-color: #00a2ff;
        &:after {
          background: url("@{static}images/sprite.png") -118px -1px no-repeat;
        }
      }
    }
  }
  .url {
    text-decoration: none;
    color: #888888;
    font-family: @ars-regular;
    font-size: 14px;
    display: block;
    text-align: center;
  }
  .title {
    padding: 10px 0 6px;
    font-size: 14px;
    font-weight: normal;
  }
  .prices {
    line-height: 1em;
    .price {
      color: #111111;
      font-size: 16px;
    }
    .old-price {
      text-decoration: line-through;
      padding-right: 10px;
      .rub {
        font-size: 14px;
        line-height: 4px;
        border-bottom: 1px solid #888888;
      }
    }
  }
  .photo-container {
    border: 1px solid #dadada;
    width: 170px;
    height: 170px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    line-height: 0;
    position: relative;
    &:hover {
      .quick-view {
        display: block;
      }
    }
    .quick-view {
      position: absolute;
      left: -10px;
      bottom:10px;
      display: none;
      cursor: pointer;
      z-index:9;
      background-color: #343434;
      padding: 3px 10px;
      border-radius: 3px;
      text-shadow: 0 1px 2px rgba(0,0,0,.4);
      box-shadow: 0 1px 2px rgba(0,0,0,.4),
        inset 0 1px 2px rgba(250,250,250,.4),
        inset 0 -1px 2px rgba(0,0,0,.4);
      color: #f6f6f6;
      font-size: 14px;
      line-height: 1.5em;
      .unselectable();
      &:before {
        content:'';
        display: block;
        width: 10px;
        height: 10px;
        z-index: 8;
        position: absolute;
        left:0;
        top:-9px;
        background: url("@{static}images/sprite.png") -162px -1px transparent no-repeat;
      }
    }
    .photo {
      line-height: 0;
      max-width: 100%;
      max-height: 100%;
      display: none;
      border-radius: 0;
      margin: 0;
      &:first-child {
        display: inline;
      }
    }
  }
  .photos-color {
    display: none;
    .photos-color-visibility () {
      display: block;
    }
    &.this {
      .photos-color-visibility();
    }
  }
  .colors {
    text-align: left;
    padding: 5px 0;
    .color {
      .inline-block();
      cursor: pointer;
      margin: 1px 11px 12px 1px;
      border: 1px solid #dddddd;
      .colors-color-visibility () {
        margin: 0 10px 10px 0;
        border-radius: 3px;
        box-shadow:  0 0 2px rgba(4,4,4,.4);
        padding: 1px;
        span {
          border-radius: 2px;
        }
      }
      &.this {
        .colors-color-visibility();
      }
      span {
        width: 30px;
        height: 13px;
        display: block;
      }
    }
  }
  .sizes .size {
    display: none;
    .sizes-size-visibility() {
      display: inline;
    }
    &.this {
      .sizes-size-visibility();
    }
  }
  &.not-inited {
    .colors .color:first-child {
      .catalog-item > .colors > .color > .colors-color-visibility();
    }
    .sizes .size:first-child {

    }
    .photos-color:first-child {
      .catalog-item > .photos-color > .photos-color-visibility();
    }
  }
}
.control {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  .unselectable();
  border-radius: 3px;
  background-color: #343434;
  color: #fcfcfc;
  text-shadow: 0 0 3px rgba(0,0,0,.4);
  text-align: center;
  top:80px;
  line-height: 1.4em;
  z-index: 3;
  &:hover {
    background-color: #dadada;
  }
  &.next {
    right: -10px;
  }
  &.prev {
    left: -10px;
  }
}
.catalog-carousel {
  &.loaded {
    .trim {
      position: absolute;
      left: -8px;
      top: 0;
      right: -12px;
      bottom: 0;
      overflow: hidden;
    }
    position: relative;
    .wrap {
      position: absolute;
      left: 0;
      margin-left: 8px;
      top: 0;
      bottom: 0;
      .transition(left .2s ease-in-out);
    }
  }
  .catalog-item {
    margin-right: 17px;
  }
}
.color-chooser {
  display: none;
  position: relative;
  &.show {
    display: block;
  }
  .heading:last-child {
    padding-bottom: 0;
  }
  background-color: #f6f6f6;
  max-width: 735px;
  margin: 0 auto;
  .content {
    padding: 50px 30px;
  }
  .close {
    top: 17px!important;
    right: 20px!important;
  }
  .graffiti-chooser {
    text-align: center;
    margin-bottom: 10px;
  }
  .list {
    padding: 0 10px;
    .color {
      .inline-block();
      margin: 10px;
      width: 100px;
      color: #808080;
      .preview {
        border: 1px solid #dadada;
        .bg {
          height: 65px;
          padding: 10px 0 0 10px;
        }
        .name {
          border-top: 1px solid #dadada;
          padding: 4px 10px;
          font-size: 12px;
        }
      }
      .selector {
        text-align: center;
        padding: 5px;
        .calc {
          .inline-block();
          padding: 0 5px;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          .unselectable();
        }
        .amount {
          .inline-block();
          border: 1px solid #dadada;
          text-align: center;
          width: 35px;
          color: #808080;
          border-radius: 2px;
        }
      }
    }
  }
}
.modal {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,.7);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  .transition(opacity .2s ease-in-out);
  .transition(padding .1s ease-in-out);
  .block {
    position: relative;
  }
  .close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    .unselectable();
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: 10;
    color: #ffffff;
    border-radius: 2px;
    background-color: #dadada;
    text-align: center;
    text-shadow: 0 0 2px rgba(50,50,50,.5);
  }
  &.visible {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
}
.cart-steps {
  display: table;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  .step {
    display: table-cell;
    padding: 0;
    font-size: 16px;
    color: #808080;
    &.this {
      color: #343434;
      &:after {
        background: url("@{static}images/repeat-x.png") 0 -5px repeat-x;
        border-right: 1px solid #4786a0;
      }
    }
    &:after {
      content: '';
      display: block;
      margin: 10px 0 0;
      height: 5px;
      background: url("@{static}images/repeat-x.png") 0 -10px repeat-x;
    }
  }
}
.cart-items {
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
  .h {
    text-align: left;
    font-size: 16px;
    font-family: @ars-bold;
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
    &.image {
      width: 100px;
    }
    &.decsription {
      width: 350px;
    }
    &.price {
      width: 65px;
    }
    &.price-old {
      width: 90px;
    }
    &.amount {
      width: 160px;
    }
    &.sum {
      width: 135px;
    }
    &.del {
    }
  }
  .v {
    padding: 10px 0;
    color: #808080;
  }
  .catalog-item {
    display: table-row;
    .photo-container {
      width: 100px;
      height: auto;
      border-radius: 3px;
    }
    .colors {
      .inline-block();
      padding-top: 1px;
      padding-left: 7px;
    }
    .title {
      color: #343434;
      padding-top: 0;
      text-decoration: none;
      display: block;
    }
    .description {
      padding-left: 10px;
      padding-right: 10px;
    }
    .params .row {
      padding: 3px 0;
    }
    .price {
      font-size: 16px;
    }
    .tool-remove {
      margin: 0;
      background-position: -152px -1px;
    }
  }
}
.cart-delivery {
  .inline-block();
  background-color: #efefef;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 15px 20px;
  color: #808080;
  .i {
    float: left;
    width: 97px;
    height: 49px;
    background: url("@{static}images/sprite.png") -350px 0 no-repeat;
    margin: 20px 0  0 -10px;
  }
  .info {
    margin-left: 100px;
    max-width: 200px;
    .val {
      display: inline;
      font-size: 16px;
      color: #343434;
      margin: 0px;
    }
  }
  .back {
    text-align: right;
    padding: 10px 0 5px;
    .continue {
    }
  }
}
.cart-total {
  float: right;
  color: #343434;
  font-size: 16px;
  font-weight: bold;
  .total {
    .inline-block();
    background-color: #efefef;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding: 3px 5px;
    margin: -4px 20px 0;
    .value {
      display: inline;
    }
  }
  .continue {
    margin: -4px 0 0;
    &.hidden {
      display: none;
    }
  }
}
.cart-page {
  .continue-right {
    float: right!important;
  }
}
.button {
    .inline-block();
    text-transform: uppercase;
    text-decoration: none;
    &.flat {
      font-family: @ars-regular;
      font-weight: bold;
      font-size:16px;
      box-shadow: none;
    }
    color: #f6f6f6;
    &.red {
      background-color: #fa5137;
      float: none;
      clear: none;
    }
    &.blue {
      background-color: #31a3c8;
      float: none;
      clear: none;
    }
    &.gray {
      background-color: #888888;
    }
    &.mail {
      clear: both;
      float: right;
    }
    padding: 4px 10px;
    border-radius: 3px;
    cursor: pointer;
}
.fl-left {
  float:left!important;
}
.fl-right {
  float: right!important;
}
.formset {
  padding: 10px 0;
  .label, .value {
    .inline-block();
    font-size: 16px;
    line-height: 1.5em;
  }
  .label {
    width: 160px;
    color: #808080;
  }
  .value {
    color: #343434;
  }
}
.form-set {
  padding: 10px 0;
  label {
    .inline-block();
    font-size: 16px;
    line-height: 1.5em;
    width: 160px;
    color: #808080;
  }
  input[type="submit"],input[type="button"] {
    margin: 5px 0;
  }
}
.cart-auth {
  margin: 0 0 0 2%;
  width: 49%;
  &, .heading span {
    background-color: #f0f0f0;
  }
}
.order-block {
  .inline-block();
  width: 48%;
  &:last-child {
    margin: 0 0 0 2%;
    width: 49%;
  }
  .inner {
    border: 1px solid #aaaaaa;
    padding: 10px 13px;
  }
  .button {
    margin: 15px 0 0!important;
    &.no-mt {
      margin-top: -5px!important;
    }
  }
}
.pay-methods {
  .row {
    display: block;
    padding: 10px 0;
    &.courier {
      i {
        background-position: -447px 0;
      }
    }
    &.card {
      i {
        background-position: -447px -30px;
      }
    }
    &.emoney {
      i {
        background-position: -447px -60px;
      }
    }
    &.bank {
      i {
        background-position: -447px -90px;
      }
    }
    &.post {
      i {
        background-position: -447px -120px;
      }
    }
    i {
      .inline-block(30px);
      width: 40px;
      background-image: url("@{static}images/sprite.png");
      background-repeat: no-repeat;
      margin: -5px 10px 0;
    }
  }
}
.form-faq {
  label, input[type="text"],textarea {
    width: 100%;
    margin: 10px 0;
  }
  .table {
    width: 100%;
    th {
      text-align: left;
    }
  }
}
.form-control{
    border-radius:0px;
    height: 23px;
    padding: 4px 8px;
    font-size: 12px;
}
.preloads {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 0;
}
.zoom-win {
  position: absolute;
  top: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0,0,0,.2);
  background-color: #fff;
  /*img {
    .transition(margin .1s ease);
  }*/
}
.zoom-ctl {
  position: absolute;
  background-color: rgba(100,100,100,.5);
  cursor: crosshair;
  border: 1px solid 555;
}
.all-replies {
  float: right;
  text-decoration: none;
  color: #f4f4f4;
}
.block-slim {
  width: 500px;
  .close {
    top: 10px;
    right: 10px;
  }
}
.beta-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  text-shadow: 0px 0px 3px rgba(19, 17, 17, 0.35);
  box-shadow: 0px 0px 10px rgba(104, 104, 104, 0.71);
  background-color: #dadada
}
.sub-category {
  height: 0;
  overflow: hidden;
  padding-left: 15px;
  list-style-type: none;
  width: 140px;
  .transition(height .1s ease-in-out);
}
/*mail-specific*/
.mail {
  &.wrapper {
    padding-top: 0px;
  }

  &.user-menu {
    height: 14px;
  }

  &.cart-welcome {
    font-style: italic;
    padding: 0 0 25px 0;
  }

  .v.count, .v.total {
    padding-left: 20px;
  }

  .top-menu {
    position: relative !important;
    margin-bottom: 20px;
  }

  .cart-total {
    text-align: right;
  }

  &.cart-delivery {
    color: #343434;
    background-color: transparent;
    border: none;
    width: 100%;
    .image {
      vertical-align: middle;
      text-align: left;
    }

    .i {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      border: none;
    }

    .info {
      vertical-align: middle;
      padding-left: 10px;
      padding-top: 20px;
      color: #343434;
      font-style: italic;
      max-width: auto;
      width: 390px;
      .text {
        font-size: 14px;
      }
    }
  }

  .cart-total {
    float: none;
  }

  &.button.gray {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    margin-top: 17px;
    padding: 7px 20px;
  }

  .menus {
    width: 100%;
  }

  .contacts, .menu {
    padding: 20px;
    float: none;
  }

  .h {
    font-weight: normal;
  }

  .heading span {
    text-transform: none;
  }

  .total {
    padding: 6px 13px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: normal;
  }

  .photos-color.this .photo {
    display: inline;
  }
}