@import 'bootstrap/normalize';
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@width:1000px;
a {
  cursor: pointer;
}
.block {
  width: @width;
  margin: 0 auto;
  box-sizing: border-box;
}
.user-menu {
  height: 30px;
  padding: 7px 20px 10px;
  background-color: #000;
  .item {
    float:right;
    padding: 0 5px 0 30px;
    margin: 0 2px;
    font-weight: normal;
    color: #dadada;
  }
}
.footer {
  background-color: #242625;
  color: #f4f4f4;
  .developers {
    text-align: right;
    border-top: 1px solid #242625;
    padding: 4px 30px 6px;
  }
}