extends layout.jade
block title
    Корзина
block content
    .block.cart-details
        .content
            .heading
                span Корзина
            include steps
            {% if items_list or graffiti_list %}
            table.cart-items
                tr
                    th.h.image Товар
                    th.h.description
                    th.h.price Цена
                    th.h.price-old
                    th.h.amount Количество
                    th.h.sum Стоимость
                    th.h.del
                {% for specification in items_list %}
                include cart_item
                {% endfor %}

                {% for item in graffiti_spec %}
                include cart_graffiti
                {% endfor %}
            .cart-total Сумма заказа:
                .total
                    .value {{ price_sum }}
                    .rub Р
                a(href="{% url 'user_accuracy' %}").continue.button.flat.red Продолжить &gt;
            .cart-delivery
                .i
                .info
                    {% if fs_cond >= price_sum %}
                    .text При заказе от
                        .val.max
                            .val {{ fs_cond }}
                            .rub Р
                        | доставка абсолютно бесплатна! Выберите вещи еще на
                        .val.need
                            .val {{ missing_sum }}
                            .rub Р
                        |, если хотите получить бесплатную доставку.
                    {% else %}
                    .text Бесплатная доставка
                    {% endif %}
                .back
                    a(href="{% url 'catalog_all' %}").continue.button.flat.blue Продолжить покупки
            {% else %}
            p Корзина пуста
            {% endif %}