{% load thumbnail %}
tr.catalog-item.item-item(data-id="{{ specification.spec.item.id }}",data-spec="{{ specification.spec.id }}",data-size="{{ specification.size }}")
    td.v
        a(href="{% url 'catalog_detail' specification.spec.item.category.slug specification.spec.item.item_model_slug %}").photo-container
            .photos-color.this
                {% for images in specification.spec.specificationimages_set.all %}
                {% thumbnail images.image "100x100" as im %}
                img(src="{{im.url}}").photo
                {% endthumbnail %}
                {% endfor %}
    td.v.description
        a(href="{% url 'catalog_detail' specification.spec.item.category.slug specification.spec.item.item_model_slug %}").title {{ specification.item.name }} {{ specification.item.brand }} {{ specification.item.item_model }}
        .params
            .row Размер: {{ specification.size }}
            .row Сезон: {{ specification.spec.item.season }}
            .row Цвет:
                .colors
                    .color.this(title="{{specification.spec.color}}",data-code='{{specification.spec.color.hex_code}}')
                        span(style='background-color:{{specification.spec.color.hex_code}}')
    td.v.prices
        .price
            span.cost {{ specification.spec.item.price }}
            .rub Р
    td.v.prices
        if specification.spec.item.old_price
            span.old-price
                span=specification.spec.item.old_price
                span.rub Р
    td.v
        select.amount
            {% for i in item_range %}
            option(value="{{ i }}")=i
            {% endfor %}
    td.v.prices.total
        .price
            span.total-item-price {{ specification.spec.item.price }}
            .rub Р
    td.v
        .tool-remove