{% load thumbnail %}
tr.catalog-item.item-graffiti(data-id="{{item.graffiti.id}}")
    td.v
        a(href="{% url 'catalog_detail' item.graffiti.category.slug item.graffiti.item_model_slug %}").photo-container
            .photos-color.this
                {% for specification in item.graffiti.specification_set.all %}
                {% for images in specification.specificationimages_set.all %}
                {% thumbnail images.image "100x100" crop="center" as im %}
                img(src="{{im.url}}").photo
                {% endthumbnail %}
                {% endfor %}
                {% endfor %}
    td.v.description
        a(href="{% url 'catalog_detail' item.graffiti.category.slug item.graffiti.item_model_slug %}").title {{ item.graffiti.name }} {{ item.graffiti.brand }} {{ item.graffiti.item_model }}
        .params
            .row Цвет:
                .colors
                    {% for item in item.color %}
                    .color.this(title="{{item}}",data-code='{{item.hex_code}}')
                        span(style='background-color:{{item.hex_code}}')
                    {% endfor %}




    td.v.prices
        .price
            span.cost {{ item.graffiti.price }}
            .rub Р
    td.v.prices
        if specification.item.old_price
            span.old-price
                span=specification.item.old_price
                span.rub Р
    td.v.amount {{ graffiti_count }}
    td.v.prices
        .price
            span.total-graffiti-price {{ item.graffiti.price }}
            .rub Р
    td.v
        .tool-remove