{% load inlinecss %}
{% inlinecss "css/compiled.css" %}
<!DOCTYPE html>
<html>
  <head>
    <title>Revert: Ваш заказ</title>
    <meta charset="utf-8">
  </head>
  <body>

  <div class="wrapper mail">
    <!-- HEADER -->
    <div class="fixed top-menu">
      <div class="block">
        <div class="user-menu mail">
          <div class="clearfix">
              <a href="{{ site }}/contacts/" class="address item"><i class="marker"></i>ТРЦ «Фаворит», ул. В. Гнаровской, 12/1</a>
              <h4 class="phone item"><i class="phone"></i>+7 (3452) 38-11-33</h4>
          </div>
        </div>
        <div class="sections">
          <div class="clearfix"><a href="{{ site }}/" style="background-image: url({{ site }}/static/css/images/logo.png)" class="logo revert"></a>
            <div class="menu"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="block cart-details mail">
      <div class="content">
        <div class="cart-welcome mail">
            Дорогой покупатель!<br />
            Спасибо, что сделали правильный выбор и совершили покупку в нашем интернет-магазине.
        </div>
        <div class="heading"><span>Ваш заказ:</span></div>

        <table class="cart-items">
            <tr>
              <th class="h image">Товар</th>
              <th class="h description"></th>
              <th class="h price">Цена</th>
              <th class="h amount">Количество</th>
              <th class="h sum">Стоимость</th>
            </tr>

        {% for item in order.orderitem_set.all %}
            <tr class="catalog-item item-item">
              <td class="v">
                  <a href="{% url 'catalog_detail' item.item.category.slug item.item.item_model_slug %}" class="photo-container">
                      <div class="photos-color this">
                        <!-- !!!ТУТ НАДО РИСОВАТЬ ТОЛЬКО ОДНУ КАРТИНКУ, НУЖНОГО ЦВЕТА!!! -->
                        <img src="{{ site }}{{ item.item.image_mail_preview }}" class="photo"/>
                      </div>
                  </a>
              </td>
              <td class="v description">
                <a href="{% url 'catalog_detail' item.item.category.slug item.item.item_model_slug %}" class="title">
                    {{ item.item.name }} {{ item.item.brand }} {{ item.item.item_model }}
                </a>
                <div class="params">
                  <div class="row">Размер: {{ item.size }}</div>
                  {% if item.item.season %}
                    <div class="row">Сезон: {{ item.item.season }}</div>
                  {% endif %}
                  <div class="row">Цвет:
                    <div class="colors">
                      <!-- !!! ТУТ НУЖЕН ЦВЕТ !!! -->
                      {% if item.item.is_graffiti %}
                        {% for color_paint in graffiti_colors %}
                        <div title="{{ color_paint }}" class="color this">
                          <!-- !!! ТУТ НУЖНО МЕНЯТЬ цвет # !!! -->
                          <span title="{{ color_paint }}" style="background-color:{{ color_paint.hex_code }}"></span>
                        </div>
                        {% endfor %}
                      {% else %}
                        <div title="{{ item.spec.color }}" class="color this">
                          <!-- !!! ТУТ НУЖНО МЕНЯТЬ цвет # !!! -->
                          <span title="{{ item.color }}" style="background-color:{{ item.spec.color.hex_code }}"></span>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </td>
              <td class="v prices">
                <div class="price"><span class="cost">{{ item.item.price }}</span>
                  <div class="rub">Р</div>
                </div>
              </td>
              <td class="v count">
                {{ item.count }}
              </td>
              <td class="v prices total">
                <!-- !!! ТУТ НУЖНА СЧИТАЛОЧКА ДЛЯ СУММЫ !!! -->
                <div class="price"><span class="total-item-price">{{ item.order_item_sum }}</span>
                  <div class="rub">Р</div>
                </div>
              </td>
            </tr>
        {% endfor %}

        </table>

        <table class="cart-delivery mail">
            <tr>
                <td class="image"><img class="i" src="{{ site }}/media/cache/28/93/2893b5992c891c37cb8d6d801ad61e10.jpg" /></td>
                <td class="info"><p class="text">С уважением, Артем Рахмеев.</p></td>
                <td></td>
                <td class="cart-total">
                    Сумма заказа:
                    <div class="total">
                        <!-- !!! ТУТ НУЖНА СЧИТАЛОЧКА !!! -->
                        <div class="value">{{ price_sum }}</div>
                        <div class="rub">Р</div>
                    </div>

                    <!-- !!! НУЖНО ДОБАВИТЬ UNSUBSCRIBE !!!-->
                    <!-- <a href="/accounts/unsubscribe/CODE/" class="continue button flat gray mail">Отписаться от рассылки</a> -->
                </td>
            </tr>
        </table>

      </div>
    </div>

    <!-- FOOTER -->

      <div class="footer block">
          <table class="menus">
              <tr>
                <td class="contacts">
                  <h3>Контакты</h3>
                  <ul class="vcard">
                    <li>&copy;&nbsp;<span class="fn org">Интернет-магазин "REVERT"</span>
                    </li>
                    <li>Заходите на чай:&nbsp;<span class="adr"><span class="street-address white">ТРЦ «Фаворит», ул. В. Гнаровской, 12/1</span></span>
                    </li>
                    <li>Звоните, когда скучно:&nbsp;<span class="tel white">+7 (3452) 38-11-33</span>
                    </li>
                  </ul>
                </td>
                  <td>&nbsp;</td>
                <td class="menu">
                  <h3>Меню</h3>
                  <ul>
                    <li><a>Новости</a>
                    </li>
                    <li><a href="{{ site }}/reviews/">Обзоры</a>
                    </li>
                    <li><a href="{{ site }}/contacts/">Контакты</a>
                    </li>
                  </ul>
                  <ul>
                    <li><a>Оплата</a>
                    </li>
                    <li><a>Акции</a>
                    </li>
                    <li><a>Доставка</a>
                    </li>
                  </ul>
                  <ul>
                    <li><a href="{{ site }}/faq/">Вопрос-ответ</a>
                    </li>
                    <li><a>Гарантия</a>
                    </li>
                  </ul>
                </td>
              </tr>
          </table>
      </div>


  </div>

  </body>
</html>
{% endinlinecss %}