extends layout.jade
block title
    Корзина | Заказчик
block content
    .block.cart-page
        .content
            .heading
                span Корзина
            include steps
            .order-block
                .inner
                    .heading
                        span Доставка:
                    .toggler-container
                        a(data-toggle="#delivery-self").toggler-trigger.this Забрать в пункте выдачи
                        a(data-toggle="#delivery-address").toggler-trigger Воспользоваться доставкой
                    #delivery-self
                    #delivery-address.address-book.toggler-target
                        {% if other_addresses or permanent_address  %}
                        h4.subtitle Постоянный адрес
                        .address.clearfix
                            .container
                                .text {{ permanent_address }}
                        h4.subtitle Остальные адреса
                        {% for address in other_addresses %}
                        .address.clearfix
                            .container
                                .text {{ address }}
                            a(href="{% url 'cart_permanent_address' address.id %}").address-default.gray-link.fl-right сделать адресом по умолчанию
                        {% endfor %}
                        {% endif %}
                        a(data-toggle='#address-new').toggler-trigger.gray-link добавить новый адрес
                        form(action="",method="post")#address-new.toggler-target.form-set{% csrf_token %}
                            {{ form.as_div }}
                            input(type="submit",value="Сохранить")
                a(href="{% url 'cart' %}").button.flat.blue &lt; Вернуться в корзину
            form(action="{% url 'order' %}",method="get").order-block
                .inner
                    .heading
                        span Оплата:
                    .pay-methods
                        label.row.courier
                            input(type="radio",name="method",value="courier")
                            i
                            | оплата наличными курьеру
                        label.row.card
                            input(type="radio",name="method",value="card")
                            i
                            | оплата кредитной картой
                        label.row.emoney
                            input(type="radio",name="method",value="emoney")
                            i
                            | электронные деньги
                        label.row.bank
                            input(type="radio",name="method",value="bank")
                            i
                            | банковский перевод
                        label.row.post
                            input(type="radio",name="method",value="post")
                            i
                            | наложенный платеж
                .cart-total.pad-min Сумма заказа:
                    .total
                        .value {{ price_sum }}
                        .rub Р
                    input(value="Оформить заказ &gt;",type="submit").button.flat.no-mt.red.continue
                    //a(href="{% url 'order' %}").button.flat.no-mt.red.continue Оформить заказ &gt;