.cart-steps
    .step(class="{% if step == 1 %}this{% endif %}")
        |1. Оформление товара
    .step(class="{% if step == 2 %}this{% endif %}")
        |2. Контакты
    .step(class="{% if step == 3 %}this{% endif %}")
        |3. Доставка и оплата