{% extends 'layout.jade' %}

{% block title %}
    Номер Вашего заказа {{ order.order_number }}
{% endblock %}

{% block content %}
	<div class="block">
	    <div class="content">
			<h1>
				Номер Вашего заказа <a href="{% url 'order_history' order.id %}">{{ order.order_number }}</a>
			</h1>

			<p>
				<span style="font-size: small;">
					Спасибо за покупку в нашем интернет магазине Revert!
					Ваш заказ принят и в ближайшее время мы начнем его собирать! Если у нас возникнут вопросы, мы обязательно свяжемся с вами по указанному Вами телефону: {{ order.user.mobile_phone }}.
					Так же мы отправили Вам на почту письмо с номером и подробностями по Вашему заказу.
					Для уточнения деталей по вашему заказу, Вы можете зайти в <a href="{% url 'user_account' %}">личный кабинет</a> и посмотреть статус Вашего заказа, или же, позвонить по телефону 8 (3452) 38-11-33 и, назвав, номер заказа, получить полную информацию по нему
				</span>
			</p>

			<p>
				<span style="font-size: small;">
					Желаем Вам приятного настроения и отличного дня!;)
				</span>
			</p>
	    </div>
	</div>
{% endblock %}