extends layout.jade
block title
    Корзина | Заказчик
block content
    .block.cart-page
        .content
            .heading
                span Корзина
            include steps
            {% if not request.user.is_authenticated %}
            .order-block.cart-reg
                .inner
                    .heading
                        span Для новых пользователей:
                    form(action="",method="post").form-set {% csrf_token %}
                        {{ registration_form.errors }}
                        {{ registration_form.as_div }}
                        .clearfix
                            input(type="submit",value="Продолжить").button.flat.red.fl-right
                        input(type="hidden",name="next",value="{% url 'ordering' %}")
            .order-block.cart-auth
                .inner
                    .heading
                        span Для постоянных покупателей:
                    form(action="{% url 'accounts_login' %}",method="post").form-set {% csrf_token %}
                        {{ login_form.as_div }}
                        .clearfix
                            input(type="submit",value="Войти и продолжить").button.flat.red.fl-right
                        input(type="hidden",name="next",value="{% url 'ordering' %}")
            {% else %}
            .clearfix
                a(href="{% url 'edit_user_account' %}?next={% url 'user_accuracy' %}").tool-edit.fl-left Редактировать данные
            .formset
                .row
                    .label Имя получателя:
                    .value {{ request.user.get_full_name }}
                .row
                    .label Мобильный телефон:
                    .value {{ request.user.mobile_phone }}
                .row
                    .label email:
                    .value {{ request.user.email }}
            a(href="{% url 'ordering' %}").button.flat.red.continue-right Продолжить &gt;
            {% endif %}
            a(href="{% url 'cart' %}").button.flat.blue &lt; Вернуться в корзину