extends 'layout.jade'
{% load thumbnail %}
{% load pytils_dt %}

block title
    Отзывы
block content
    .block
        .content
            h1.heading
                span Обзоры
            .reviews
                .list
                    {% for review in comments %}
                    .review.comment
                        .inner
                            .icon
                                a(href=review.vklink,rel="nofollow",target="_blank").wrap
                                    {% thumbnail review.image "80x80" crop="center" as im %}
                                    img(src=im.url,alt=review.author).photo
                                    {% endthumbnail %}
                            .data
                                a(href="#").name
                                    .date=review.date|ru_strftime:"%d %B %Y"
                                    h2.name=review.author
                                .info
                                    .text=review.content
                                .tags
                                    {% for tag in review.tags.all %}
                                    a(href="#").tag=tag.name
                                    {% endfor %}
                    {% empty %}
                    p.nothing Обзоров не найдено
                    {% endfor %}