{% extends 'main.jade' %}

{% block content %}
<div class="block">
	<div class="content">
        <form action="" method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Сохранить"/>
        </form>
	</div>
</div>
{% endblock %}