{% extends 'layout.jade' %}

{% block title %}
Редактирование информации
{% endblock %}
{% block content %}
<div class="block">
	<div class="content">
        <h2 class="heading"><span>Редактирование информации</span></h2>
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Добавить"/>
        </form>
	</div>
</div>
{% endblock %}