{% load thumbnail %}
{% load accounts_extras %}
tr.catalog-item.item-item(data-id="{{ order.spec.item.id }}",data-spec="{{ order.spec.id }}",data-size="{{ order.size }}")
    td.v
        a(href="{% url 'catalog_detail' order.spec.item.category.slug order.spec.item.item_model_slug %}").photo-container
            .photos-color.this
                img(src="{{ order.item.image_mail_preview }}").photo
    td.v.description
        a(href="{% url 'catalog_detail' order.spec.item.category.slug order.spec.item.item_model_slug %}").title {{ order.item.name }} {{ order.item.brand }} {{ order.item.item_model }}
        .params
            .row Размер: {{ order.size }}
            .row Сезон: {{ order.spec.item.season }}
            .row Цвет:
                .colors
                    {% if order.spec.item.is_graffiti %}
                    {% with order.color|to_dict as order_specs %}
                    {% for color in order_specs %}
                    .color.this(title="{{color.color}}",data-code='{{color.color}}')
                        span(style='background-color:{{color.hex_code}}')
                        span(style='text-align: center;'){{ color.amount }}
                    {% endfor %}
                    {% endwith %}
                    {% else %}
                    .color.this(title="{{order.spec.color.title}}",data-code='{{order.spec.color.title}}')
                        span(style='background-color:{{order.spec.color.hex_code}}')
                    {% endif %}
    td.v.prices
        .price
            span.cost {{ order.spec.item.price }}
            .rub Р
    td.v.prices
        if order.spec.item.old_price
            span.old-price
                span=order.spec.item.old_price
                span.rub Р
    td.v.prices.total
        .price
            span.total-item-price {{ order.count }}
    td.v.prices.sum
        .price
            span.total-item-price {{ order.order_item_sum }}
            .rub Р