extend "layout.jade"
block title
Авторизация

block content
    .block.content
        h2.heading
            span Вход
        form(method="post")
            {% csrf_token %}
            {{ form }}
            input(type="submit",value="Войти")
            input(type="hidden")
        a(href="{% url 'user_creation' %}").gray-link Регистрация
        |&nbsp;
        a(href="{% url 'new_password' %}").gray-link Восстановить пароль