{% extends 'main.jade' %}

{% block content %}
    <div class="block">
        <div class="content">
            {% for order_item in order.orderitem_set.all %}
                <ul>
                    <li>Товар: {{ order_item.item.name }}</li>
                    <li>Кол-во: {{ order_item.count }}</li>
                    <li>Цвет: {{ order_item.color }}</li>
                    <li>Размер: {{ order_item.size }}</li>
                    <li>Цена: {{ order_item.item.price }}</li>
                    <li>Сумма: {{ order_item.order_item_sum }}</li>
                    <hr>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}