extends layout.jade
block title
    История заказов
block content
    .block.cart-details
        .content
            .heading
                span Заказ №{{ order.order_number }}
            table.cart-items
                tr
                    th.h.image Товар
                    th.h.description
                    th.h.price Цена
                    th.h.price-old
                    th.h.amount Количество
                    th.h.sum Стоимость
                {% for order in order.orderitem_set.all %}
                include history_item
                {% endfor %}

                {% for item in graffiti_spec %}
                include cart_graffiti
                {% endfor %}
            .cart-total Сумма заказа:
                .total
                    {{ order_sum }}
                    .rub Р