extend layout
block title
    Восстановление пароля

block content
    .block.content
        h2.heading
            span Восстановление пароля
        {{ form.error }}
        <form method="post" class="form-set">{% csrf_token %}
        {{ form }}
        <input type="submit" value="Отправить"/>
        </form>