extend "layout.jade"
block title
Регистрация

block content
    .block.content
        h2.heading
            span Регистрация
        {{ form.error }}
        form(method="post").form-set
            {% csrf_token %}
            {{ form.as_div }}
            input(type="submit",value="Зарегистрироваться")