{% extends 'main.jade' %}

{% block content %}
	<div class="block">
        <div class="content">
            <p>Пользователь: {{ request.user.get_full_name }} <a href="{% url 'edit_user_account' %}">[Редактировать данные]</a></p>
            <p>Email: {{ request.user }}</p>
            <p>Контактные данные:</p>
            <ul>
                <li>Мобильный телефон: {{ request.user.mobile_phone }}</li>
            </ul>
            Адреса:
            <ul>
                {% for address in request.user.address_set.all %}
                    <li>Адрес: {{ address }}
                        <a href="#">Назначить постоянным</a>
                        <a href="{% url 'edit_user_address' address.id %}">Редактировать адрес</a>
                        <a href="{% url 'delete_user_address' address.id %}">[X]</a>
                    </li>
                {% endfor %}
            </ul>
            <form action="" method="post">{% csrf_token %}
                {{ formset }}
                <input type="submit" value="Сохранить"/>
            </form>
            <p>История заказов: </p>
            <ul>
                {% for order in request.user.orders_set.all %}
                    <li>Номер заказа: <a href="{% url 'order_history' order.id %}">{{ order.order_number }}</a> | Время заказа: {{ order.date }} | Статус: {{ order.status }} | Сумма: {{ order.order_sum }}</li>
                {% endfor %}
            </ul>
        </div>
	</div>
{% endblock %}