extend layout
{% load thumbnail %}
block title
    Личный кабинет
block content
    .block
        .content
            .heading
            .bordered
                .heading
                    span Контактные данные
                .user-info.clearfix

                        {% thumbnail request.user.image "180x180" crop="center" as im %}
                        .photo
                            img(src="{{im.url}}",width="{{im.width}}",height="{{im.height}}").image
                        {% empty %}
                        .photo.no-ava
                        {% endthumbnail %}
                        a(href="{% url 'edit_user_account' %}").tool-edit редактировать данные
                        .info
                            .row
                                .key Имя пользователя:
                                .value.fn {{ request.user.get_full_name }}
                            .row
                                .key Мобильный телефон:
                                .value.tel {{ request.user.mobile_phone }}
                            .row
                                .key E-mail:
                                .value.email {{ request.user.email }}
            .bordered
                .heading
                    span Адресная книга
                .address-book
                    if permanent_address
                        h4.subtitle Адрес по умолчанию
                        .address.clearfix
                            .container
                                .text.default {{ permanent_address.0 }}
                    endif
                    h4.subtitle Остальные адреса
                    {% for address in other_addresses %}
                    .address.clearfix
                        .container
                            .text {{ address }}
                        a(href="{% url 'permanent_address' address.id %}").address-default.gray-link сделать адресом по умолчанию
                        a(href="{% url 'delete_user_address' address.id %}").tool-remove
                        a(href="{% url 'edit_user_address' address.id %}").tool-edit редактировать данные
                    {% endfor %}
                    a(data-toggle='#address-new').toggler-trigger.gray-link добавить новый адрес
                    form(action="",method="post")#address-new.toggler-target.form-set {% csrf_token %}
                        {{ formset.as_div }}
                        input(type="submit",value="Сохранить")
            .bordered
                .heading
                    span История заказов
                table.order-history
                    thead
                        tr
                            th(scope='col').num.hd Номер заказа
                            th(scope='col').datetime.hd Время заказа
                            th(scope='col').status.hd Статус заказа
                            th(scope='col').total.hd Стоимость заказа
                    tbody
                        {% for order in request.user.orders_set.all %}
                        tr.order
                            td
                                a(href="{% url 'order_history' order.id %}") {{ order.order_number }}
                            td {{ order.date }}
                            td {{ order.status }}
                            td {{ order.order_sum }}
                        {% endfor %}