{% extends 'layout.jade' %}

{% block title %}
    {{ flatpage.title }}
{% endblock %}

{% block content %}
	<div class="block">
	    <div class="content">
	        <h1>{{ flatpage.title }}</h1>
	        {{ flatpage.content }}
	    </div>
	</div>
{% endblock %}