doctype html
html
    head
        title= title
        //link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block nav
            .user-menu.block
                a.cart.item
                    i
                    | В корзине нет товаров
                a.login.item
                    i
                    | Войти/Регистрация
                h4.address.item
                    i
                    | г Тюмень, 50 лет октября 111/1
                h4.phone.item
                    i
                    | +7 (3452) 38-11-33
        block content
        block footer
            .footer.block
                .contacts
                .partners
                .menu
                .developers
                    |2013 г. Разработка и продвижение сайта
        block scripts
            script(src='/javascripts/jquery-2.1.0.min.js')
            //script(src='/javascripts/bootstrap/bootstrap.min.js')