{% extends 'main.jade' %}
{% load thumbnail %}

{% block content %}
<div class="block">
    <div class="content">
        <h1>Новости</h1>
        {% for news in news %}
            {% thumbnail news.image "100x100" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <div>{{ news.date }}</div>
            <h2><a href="{% url 'news_detail' news.slug %}">{{ news.title }}</a></h2>
            <p>{{ news.preview }}</p>
            <div class="tags">
            {% for tag in news.tags.all %}
            <a href="{% url 'news_list' %}?tag={{ tag.slug }}">
                {{ tag.name }}
            </a>
            {% endfor %}
            </div>
        {% empty %}
            <p>Обзоров не найдено</p>
        {% endfor %}
    </div>
</div>
{% endblock %}