{% extends 'main.jade' %}

{% block content %}
<div class="block">
    <div class="content">
        <h1>{{ news.title }}</h1>
            <div class="tags">
            {% for tag in news.tags.all %}
            <a href="{% url 'reviews_list' %}?tag={{ tag.slug }}">
                {{ tag.name }}
            </a>
            {% endfor %}
            </div>
        <div>{{ news.date }}</div>
        <div>
		{% autoescape off %}
		        {{ news.content }}
		{% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}